<% content_for :head do %>
  <title>Account Settings</title>
  <meta name="description" content="Change your account preferences.">
<% end %>

<% timezones = [
      ['Select', nil],
      ['UTC -12', -12], 
      ['UTC -11', -11],
      ['UTC -10', -10],
      ['UTC -9', -9],
      ['UTC -8', -8],
      ['UTC -7', -7],
      ['UTC -6', -6],
      ['UTC -5', -5],
      ['UTC -4', -4],
      ['UTC -3', -3],
      ['UTC -2', -2],
      ['UTC -1', -1],
      ['UTC +0 (GMT)', 0],
      ['UTC +1', 1],
      ['UTC +2', 2],
      ['UTC +3', 3],
      ['UTC +4', 4],
      ['UTC +5', 5],
      ['UTC +6', 6],
      ['UTC +7', 7],
      ['UTC +8', 8],
      ['UTC +9', 9],
      ['UTC +10', 10],
      ['UTC +11', 11],
      ['UTC +12', 12],
    ] %>

<% if current_user.skypeid.nil? || current_user.skypeid == "" %>
  <div class="bs-callout bs-callout-danger">
    <h4>Skype Id Required</h4>

    <p>We use <a href="http://www.skype.com">Skype</a> for our live video lessons with teachers in China. In order to join in you'll need to sign up and provide us with your Skype ID. You'll also need Skype installed on your computer or your mobile device - whichever you prefer to video call on.</p>
  </div>
<% end %>

<% if current_user.timezone_offset.nil? %>
  <div class="bs-callout bs-callout-warning">
    <h4>Customise your Calendar Timezone</h4>

    <p>Our teachers are located in China and so their lesson times are set in the UTC +8 timezone - but yours don't have to be! You've been defaulted to using the same timezone as our teachers but if it's more convenient you can choose a different one to show you local times.</p>
  </div>
<% end %>

<div class="edit-form col-md-8 col-md-offset-2">
  <div class="wrapper">
    <h2>Edit your profile</h2>
    <p>Please enter your current password at the bottom of the form to confirm any changes you've made to your profile.</p>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :name, "First Name" %>
        <%= f.text_field :firstname, :class => "form-control", autocomplete: "off", placeholder: "First Name" %>
      </div>

      <div class="form-group">
        <%= f.label :name, "Last Name" %>
        <%= f.text_field :lastname, :class => "form-control", autocomplete: "off", placeholder: "Last Name" %>
      </div>

      <div class="form-group">
        <%= f.label :name, "Email" %>
        <%= f.email_field :email, :class => "form-control", autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :name, "Timezone" %>
        <%= f.select :timezone_offset, timezones %>
      </div>

      <div class="form-group">
        <%= f.label :name, "Skype ID" %>
        <%= f.text_field :skypeid, :class => "form-control", autocomplete: "off", placeholder: "New Skype ID" %>
      </div>

      <div class="form-group"><%= f.label :name, "Change Your Password" %><%= f.password_field :password, :class => "form-control", autocomplete: "off", placeholder: "New Password" %></div>

      <div class="form-group"><%= f.password_field :password_confirmation, :class => "form-control", autocomplete: "off", placeholder: "Confirm New Password" %></div>

      <div class="form-group"><%= f.label :name, "Confirm Your Changes" %><%= f.password_field :current_password, :class => "form-control", autocomplete: "off", placeholder: "Current Password" %> </br> <%= f.submit "Update", :class => "btn btn-primary btn-lg" %></div>
      
      <div class="form-group">
      <p>View your invoice history <a href="/charges">here</a>.</p> 
      </div>
      
      <div class="form-group">
      <% if current_user.settings.receive_morning_emails %>
    <p>You will receive a reminder email on mornings that you have booked a lesson. Disable them <a href="/user_settings/toggle_config_morning_email">here</a></p>
    <% else %>
    <p>You will not receive a reminder email on mornings that you have booked a lesson. Enable them <a href="/user_settings/toggle_config_morning_email">here</a></p>
    <% end %>
      </div>
      
    <% end %>
  </div>
</div>

<% unless current_user.stripe_id.nil? %>
<%= form_tag( { controller: 'users', action: 'update_card' }, method: 'post', style: 'padding-top: 15px', class: 'edit-form col-xs-8 col-xs-offset-2') do %>
<div class="wrapper">
  <h2>Update Your Credit Card </h2>
  <p>If change the card you wish subscription payments to be made from, or your current card has expired, update your details here. Failure to do can result in your subscriptions being cancelled due to payments not being made.</p>
  <div class='input-group row' style="width: 100%; padding-top: 15px">
    <%= label_tag        :number, 'Card Number', class: 'col-xs-3 input-label' %>
      <div class='col-xs-9'>
      <%= text_field_tag :number1, nil, maxlength: "4", size: "4", class: 'form-control', style: 'width: 75px', placeholder: 'XXXX' %>
      <%= text_field_tag :number2, nil, maxlength: "4", size: "4", class: 'form-control', style: 'width: 75px', placeholder: 'XXXX' %>
      <%= text_field_tag :number3, nil, maxlength: "4", size: "4", class: 'form-control', style: 'width: 75px', placeholder: 'XXXX' %>
      <%= text_field_tag :number4, nil, maxlength: "4", size: "4", class: 'form-control', style: 'width: 75px', placeholder: 'XXXX' %>
      </div>
  </div>

  <div class='input-group row' style="width: 100%; padding-top: 15px">
      <%= label_tag        :cvc, 'Security Code', class: 'col-xs-3 input-label' %>
      <div class='col-xs-9'>
        <%= text_field_tag :cvc, nil, maxlength: "3", size: "3", class: 'form-control', style: 'width: auto' %>
      </div>
  </div>

  <div class='input-group row' style="width: 100%; padding-top: 15px">
    <%= label_tag        :exp_month, 'Expiration Date', class: 'col-xs-3 input-label' %>
    <div class='col-sm-9'>
      <%= select_month   nil, { add_month_numbers: true }, { id: 'exp_month', class: 'form-control btm-space', style: 'width: auto' } %>
    
      <%= select_year    nil, { start_year: Date.today.year, end_year: Date.today.year+15 }, { id: 'exp_year', class: 'form-control btm-space', style: 'width: auto'  } %>
    </div>
  </div>
  <div class='input-group' style='padding-top: 15px'>
    
      <%= submit_tag 'Update', class: 'btn btn-primary' %>
   
  </div>
</div>
<% end %>
<% end %>

<% if current_user.settings.purchased_dudu %>
<%= form_tag( { controller: 'users', action: 'cancel_dudu' }, method: 'post', style: 'padding-top: 15px', class: 'edit-form col-xs-8 col-xs-offset-2') do %>
<div class="wrapper">
  <h2>Cancel Your Dudu Subscription </h2>
  <p>If you wish to cancel your monthly Dudu scubscription you may do so by clicking the cancel button below - click the lock first to enable the button and confirm your choice. After cancelling you'll be able to access the Dudu system for the rest of your billing period (<%= Time.at(current_user.settings.dudu_expiry_timestamp).strftime('%-d %B %Y') %>)</p>
  <div class='input-group row' style="display: none">
    <%= hidden_field_tag 'stripe_id', current_user.stripe_id  %>
  </div>

  <div class='input-group' style='padding-top: 15px'> 
    <i class="lockable"><%= submit_tag 'Cancel Subscription', class: 'btn btn-primary', :disabled => "disabled" %></i>
    <i class="fa fa-lock lock"></i>
  </div>
</div>
<% end %>
<% end %>

<script type="text/javascript">
$(".lock").click(function(){
  var lock = $(this);
  var button = lock.prev().children();
  if (lock.hasClass("fa-lock")) {
    lock.removeClass("fa-lock");
    lock.addClass("fa-unlock-alt");
    button.removeAttr('disabled');  
  } else {
    lock.removeClass("fa-unlock-alt");
    lock.addClass("fa-lock");
    button.attr('disabled','disabled');   
  }
});


$('.lockable').hover(
  function() {
    if ($(this).children().attr("disabled") == "disabled") {
      $( this ).next().removeClass("fa-lock");
    $( this ).next().addClass("fa-unlock-alt");
  }
  }, function() {
    if ($(this).children().attr("disabled") == "disabled") {
      $( this ).next().removeClass("fa-unlock-alt");
    $( this ).next().addClass("fa-lock");
  }
  }
);

$('.edit-comment-btn').click(function(){
  var p = $(this).parent();
  p.hide();
  p.next().show();
});

$('.cancel-comment-edit-btn').click(function(){
  var p = $(this).parent().parent();
  p.hide();
  p.prev().show();
});


</script>







