<% unless user_signed_in? %>
Redirect - user not signed in
<% else %>

<h1>Listing Notifications</h1>

  <table>
    <tbody>
      <% if @notifications.length > 0 %>
        <% @day = @notifications.first.appear_at.day %>
        <% @month = @notifications.first.appear_at.month %>
        <% @year = @notifications.first.appear_at.year %>
        <tr>
          <td>
            <strong><%= "#{@notifications.first.appear_at.day.ordinalize} #{@notifications.first.appear_at.strftime('%B')}"%></strong>
          </td>
        </tr>

        <% @notifications.each do |n| %>
          <% unless n.appear_at.day == @day && n.appear_at.month == @month && n.appear_at.year == @year %>
            <tr>
              <td>
                </br><strong><%= "#{n.appear_at.day.ordinalize} #{n.appear_at.strftime('%B')}"%></strong>
                <% @day = n.appear_at.day %>
                <% @month = n.appear_at.month %>
                <% @year = n.appear_at.year %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td>
              <% unless n.lesson_id == 0 %>
              <a href=<%= lesson_path(n.lesson_id) %>>- <%= n.content %></a>
              <% else %>
              - <%= n.content %>
              <% end %>
            </td>
            <td class="time"><%= "#{n.appear_at.strftime('%l:%M%P')}"%></td> 
          </tr>
        <% end %>
      <% else %>
        No Notifications
      <% end %>
    </tbody>
  </table>
<% end %>

<style type="text/css">
.time {
  text-align: right;
  min-width: 100px;
  font-size: 10px;
}
</style>
