<% offset = current_user.timezone_offset %>
<% offset ||= 8 %>

<div class="profile-pic row">
	<div class="col-md-offset-2 col-md-3 col-xs-12">
		<%= image_tag current_user.gravatar_url(:size => 175), :class => 'img-circle' %>
	</div>
	<div class="col-md-5 col-xs-12">
		<h1><%= "#{current_user.firstname} #{current_user.lastname}" %></h1>
		<p class="lead">Welcome to your Dashboard</p>
		<p class="lead">View your upcoming lessons for the week here or use the links in the left sidebar to navigate other sections of our site.</p>
	</div>

	<!--
	<div class="progress">
	  <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow=" <%= @count %>" aria-valuemin="0" aria-valuemax="" style="width: 80%">
		  <span class="sr-only">80% Complete (danger)</span>
	  </div>
	</div>
	
	-->	
</div>

<% if current_user.skypeid.nil? || current_user.skypeid == "" %>
<div class="bs-callout bs-callout-danger">

	<h4>Skype Id Required</h4>

	<p>We use <a href="http://www.skype.com">Skype</a> for our live video lessons with teachers in China. In order to join in you'll need to sign up and provide us with your Skype ID. You'll also need Skype installed on your computer or your mobile device - whichever you prefer to video call on.</p>

	<p>Visit the <a href="/users/edit">Settings Menu</a> to let us know your Skype ID once you've signed up.</p></div>
<% end %>




<% if current_user.role_id == 1 %>
<div class="lesson-board">
	<p>
	<span><%= current_user.lesson_count %></span>
	lesson<% if current_user.lesson_count != 1 %>s<% end %> left
	</p>
</div>
<% end %>

<% if current_user.settings.purchased_dudu %>

<% safename = "#{current_user.firstname} #{current_user.lastname}".gsub(/[^0-9a-z ]/i, '') %>
<% tsoid = Digest::SHA1.hexdigest "#{Time.now.utc.strftime('%Y-%m-%d %H')}id,fullname,grouplearnfast#{current_user.id},#{safename},MandarinMinds"%>
<% link = "http://dudu.qoqolo.com/cos/o.x?c=/ca4_dd/user&attribs=id,fullname,group&values=#{current_user.id},#{safename},MandarinMinds&tsoid=#{tsoid}" %>

<div class="panel panel-default" style="width: 60%; margin-left: auto; margin-right: auto; display: table; margin-top: 10px">
  <div class="panel-body" style="margin-left: auto; margin-right: auto; display: table">
    <img src="/images/dudu-logo.png" height="50px" width="50px"> Access your Dudu textbook package <a href="<%= link %>">here</a>
  </div>
</div>

<% end %>

<div id="week-schedule">
	<div class="calendar">
	<header>Lessons for the week ahead</header>

	<div class="table-responsive">
	<%= calendar start_date: Time.now.utc + offset.hours, number_of_days: 7, previous_link: "", next_link: "", events: @userlessons do |date, events| %>
  		<div class="inner">
  			<p class="date"><%= date.strftime("#{date.day.ordinalize} %b") %></p>
  		</div>
 		<% events.each do |lesson| %>
	    		<div>
	    			<button class="view-lesson" data-toggle="modal" data-target="#viewbookedlesson<%= lesson.id %>">
	    				<i class="fa fa-search"><%=" #{(lesson.starts_at + offset.hours).strftime("%l:%M%P")}" %></i>
	    			</button>
					<div class="modal fade" id= 'viewbookedlesson<%= lesson.id %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<%= render 'lessons/lessonmodal', lesson: lesson, timezone_offset: offset %>
					</div>
	    		</div>
		<% end %>		
	<% end %>
</div>
				
</div>
		
<!-- Close of user inner -->
		</div>
	</div>	
</div>

<script type="text/javascript">
$(".lock").click(function(){
	var lock = $(this);
	var button = lock.prev().children();
	if (lock.hasClass("fa-lock")) {
		lock.removeClass("fa-lock");
		lock.addClass("fa-unlock-alt");
		button.removeAttr('disabled');	
	} else {
		lock.removeClass("fa-unlock-alt");
		lock.addClass("fa-lock");
		button.attr('disabled','disabled');		
	}
});


$('.lockable').hover(
  function() {
    if ($(this).children().attr("disabled") == "disabled") {
	    $( this ).next().removeClass("fa-lock");
		$( this ).next().addClass("fa-unlock-alt");
	}
  }, function() {
    if ($(this).children().attr("disabled") == "disabled") {
    	$( this ).next().removeClass("fa-unlock-alt");
		$( this ).next().addClass("fa-lock");
	}
  }
);
</script>








