<!-- <p id="notice"><%= notice %></p> -->
		
			<div class="row">
				<div class="col-sm-3"><%= image_tag current_user.gravatar_url(:size => 175), :class => 'img-circle' %> </div>
				<div class="col-sm-9"><h1>Welcome</h1>
					<h2><%= @user.email %></h2><br>
					The current time in Perth, Western Australia is <%= Time.now.in_time_zone("Perth").strftime("%I:%M:%S") %></div>
			</div>


<div id="week-schedule">
	<% @numberoflessons = @userlessons.size %> 
	<p>Lessons Booked: <%= @numberoflessons %></br>
		<%= link_to "Go to Lesson Bookings", lessons_path%></p>

	
	<% if @numberoflessons > 0 %>
		<% @timetolesson = Time.diff(@userlessons.first.starts_at, Time.now, "%H %N")%>

		<p>
		<% if @timetolesson[:day] > 2 %>
			Your next lesson is on 
			<%= @userlessons.first.starts_at.strftime("#{@userlessons.first.starts_at.day.ordinalize} %b %Y") %>
		<% elsif @timetolesson[:hour] > 0 || @timetolesson[:minute] > 0 %>
			Counting down to your next lesson: <%=  @timetolesson[:diff]%>
		<% else %> 
			You have a scheduled lesson currently running!
		
		<% end %>
		</p>
		
	<% end %>
	
	<div class="calendar">
	<header>Your schedule for the next week:</header>
	<%= calendar number_of_days: 7, previous_link: false, next_link: false, events: @userlessons do |date, events| %>
  		
  			<p class="date"><%= date.strftime("#{date.day.ordinalize} %b") %></p>
 		<% events.each do |lesson| %>
 		
    		<div>
      			<%= link_to "#{lesson.starts_at.in_time_zone("Perth").strftime("%l:%M%P")}", lesson %>
    		</div>
		<% end %>
		
	<% end %>
</div>
				
</div>
		
<!-- Close of user inner -->
		</div>
	</div>	
</div>








