
<div class="profile-pic row">
	<%= image_tag current_user.gravatar_url(:size => 175), :class => 'img-circle' %>
	
	<div class="progress">
	  <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow=" <%= @count %>" aria-valuemin="0" aria-valuemax="" style="width: 80%">
		  <span class="sr-only">80% Complete (danger)</span>
	  </div>
	</div>	
</div>

<% if current_user.role_id == 1 %>
<p>Number of lessons to spend: <%= current_user.lesson_count %></p>
<% end %>

<% if current_user.settings.purchased_dudu %>
<p>You have purchased Dudu - access it <a href="#">here</a></p>
<% end %>

<p>View your invoice history <a href="/charges">here</a>.</p>



<div id="week-schedule">
	<div class="calendar">
	<header>Lessons for the week ahead</header>
	<%= calendar number_of_days: 7, previous_link: "", next_link: "", events: @userlessons do |date, events| %>
  		<div class="inner">
  			<p class="date"><%= date.strftime("#{date.day.ordinalize} %b") %></p>
  		</div>
 		<% events.each do |lesson| %>
 			<% if lesson.confirmed %>
	    		<div>
	    			<button class="view-lesson" data-toggle="modal" data-target="#viewbookedlesson<%= lesson.id %>">
	    				<i class="fa fa-search"><%=" #{lesson.starts_at.in_time_zone("Perth").strftime("%l:%M%P")}" %></i>
	    			</button>
					<div class="modal fade" id= 'viewbookedlesson<%= lesson.id %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<%= render 'lessons/lessonmodal', lesson: lesson %>
					</div>
	    		</div>
			<% end %>
		<% end %>		
	<% end %>
</div>

<% if current_user.settings.receive_morning_emails %>
<p>You will receive a reminder email on mornings that you have booked a lesson. Disable them <a href="/user_settings/toggle_config_morning_email">here</a></p>
<% else %>
<p>You will not receive a reminder email on mornings that you have booked a lesson. Enable them <a href="/user_settings/toggle_config_morning_email">here</a></p>
<% end %>
				
</div>
		
<!-- Close of user inner -->
		</div>
	</div>	
</div>

<script type="text/javascript">
$(".lock").click(function(){
	var lock = $(this);
	var button = lock.prev();
	if (lock.hasClass("fa-lock")) {
		lock.removeClass("fa-lock");
		lock.addClass("fa-unlock-alt");
		button.removeAttr('disabled');	
	} else {
		lock.removeClass("fa-unlock-alt");
		lock.addClass("fa-lock");
		button.attr('disabled','disabled');		
	}
});
</script>








