<!-- <p id="notice"><%= notice %></p> -->
		
			<div class="profile-pic row">
				<%= image_tag current_user.gravatar_url(:size => 175), :class => 'img-circle' %>
				<!--<div class="col-sm-9">
					The current time in Perth, Western Australia is <%= Time.now.in_time_zone("Perth").strftime("%I:%M:%S") %></div>-->
					
				<div class="progress">
				  <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow=" <%= @userlessons.size / @user.lesson_count * 100 %>" aria-valuemin="0" aria-valuemax="100" style="width:  <%= @userlessons.size / @user.lesson_count * 100 %>%">
					  <span class="sr-only">80% Complete (danger)</span>
				  </div>
				</div>	
					
			</div>


<div id="week-schedule">
	<% @numberoflessons = @userlessons.size %> 
	<p>Lessons Booked: <%= @numberoflessons %></br>
		<%= link_to "Go to Lesson Bookings", lessons_path%></p>

	
	<% if @numberoflessons > 0 %>
		<% @timetolesson = Time.diff(@userlessons.first.starts_at, Time.now, "%H %N")%>

		<p>
		<% if @timetolesson[:day] > 2 %>
			Your next lesson is on 
			<%= @userlessons.first.starts_at.strftime("#{@userlessons.first.starts_at.day.ordinalize} %b %Y") %>
		<% elsif @timetolesson[:hour] > 0 || @timetolesson[:minute] > 0 %>
			Counting down to your next lesson: <%=  @timetolesson[:diff]%>
		<% else %> 
			You have a scheduled lesson currently running!
		
		<% end %>
		</p>
		
	<% end %>
	
	<div class="calendar">
	<header>Lessons for the week ahead</header>
	<%= calendar number_of_days: 7, previous_link: false, next_link: false, events: @userlessons do |date, events| %>
  		<div class="inner">
  			<p class="date"><%= date.strftime("#{date.day.ordinalize} %b") %></p>
  		</div>
 		<% events.each do |lesson| %>
 			<% if lesson.confirmed %>
    		<div>
      			<%= link_to "#{lesson.starts_at.in_time_zone("Perth").strftime("%l:%M%P")}", lesson %>
    		</div>
			<% end %>
		<% end %>
		
	<% end %>
</div>
				
</div>
		
<!-- Close of user inner -->
		</div>
	</div>	
</div>








