<!-- <p id="notice"><%= notice %></p> -->
		
			<div class="row">
				<div class="col-sm-3"><%= image_tag current_user.gravatar_url(:size => 175), :class => 'img-circle' %> </div>
				<div class="col-sm-9"><h1>Welcome</h1>
					<h2><%= @user.email %></h2><br>
					<%= Time.now.strftime("%I:%M:%S") %></div>
			</div>

<p>Your schedule for the next week:</p>
<div id="week-schedule">
	<% @numberoflessons = @userlessons.size %> 
	<p>Lessons Booked: <%= @numberoflessons %></p>
	
	<% if @numberoflessons > 0 %>
		<% @hourstolesson = ((@userlessons.first.starts_at - Time.now) / 1.hour).round %>

		<p>
		<% if @nextlessontime > 72.hours %>
			Your next lesson is on 
			<%= @userlessons.first.starts_at.strftime("#{@userlessons.first.starts_at.day.ordinalize} %b %Y") %>
		<% elsif @nextlessontime > 0.hours %>
			Counting down to your next lesson <%= @userlessons.first.starts_at.strftime("%l:%M")%>
		<% else %> 
			You have a scheduled lesson currently running!
		
		<% end %>
		</p>
		
	<% end %>

	<%= week_calendar previous_link: false, next_link: false, events: @userlessons do |date, events| %>
  		<p><%= date.strftime("#{date.day.ordinalize} %b") %></p>
 		<% events.each do |lesson| %>
    		<div>
      			<%= link_to "#{lesson.starts_at.in_time_zone("Perth").strftime("%l:%M%P")}", lesson %>
    		</div>
		<% end %>
	<% end %>
				
</div>
		
<!-- Close of user inner -->
		</div>
	</div>	
</div>








