<!-- <p id="notice"><%= notice %></p> -->
		
			<div class="profile-pic row">
				<%= image_tag current_user.gravatar_url(:size => 175), :class => 'img-circle' %>
				<!--<div class="col-sm-9">
					The current time in Perth, Western Australia is <%= Time.now.in_time_zone("Perth").strftime("%I:%M:%S") %></div>-->
					
				<div class="progress">
				  <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow=" <%= @count %>" aria-valuemin="0" aria-valuemax="" style="width: 80%">
					  <span class="sr-only">80% Complete (danger)</span>
				  </div>
				</div>	
			</div>

<p>Number of lessons to spend: <%= current_user.lesson_count</p>
<div id="week-schedule">
	<div class="calendar">
	<header>Lessons for the week ahead</header>
	<%= calendar number_of_days: 7, previous_link: "", next_link: "", events: @userlessons do |date, events| %>
  		<div class="inner">
  			<p class="date"><%= date.strftime("#{date.day.ordinalize} %b") %></p>
  		</div>
 		<% events.each do |lesson| %>
 			<% if lesson.confirmed %>
    		<div>
    			<button class="view-lesson" data-toggle="modal" data-target="#viewbookedlesson<%= lesson.id %>"><i class="fa fa-search"><%=" #{lesson.starts_at.in_time_zone("Perth").strftime("%l:%M%P")}" %></i></button>
<div class="modal fade" id= 'viewbookedlesson<%= lesson.id %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h3 class="modal-title" id="myModalLabel">Viewing Your Booked Lesson</h3>
			</div>
			<div class="modal-body">
				<iframe src="<%= lesson_path(lesson) %>" frameborder="0" scrolling="no" style="overflow:none"></iframe
			</div>
		</div>
	</div>
</div>
    		</div>
			<% end %>
		<% end %>
		
	<% end %>
</div>
				
</div>
		
<!-- Close of user inner -->
		</div>
	</div>	
</div>








