<div class="packages jumbotron">
	<div class="row">
		<h1>Get in touch with Mandarin Minds</h1>
			
		<div style="width: 500px; margin-left: auto; margin-right: auto">
		<%= form_tag({controller: 'static', action: 'contact_form'}, method: 'post') do %>
			          <div class="form-group">
						  <%= text_field_tag :name, nil, :class => "form-control", :id => "contact-name", placeholder: "Name" %>
					  </div>
					  <div class="form-group">
						  <%= text_field_tag :email, nil, :class => "form-control", :id => "contact-email", placeholder: "Email" %>
					  </div>
						<div class="form-group">
							Type of request:
					  <%= select_tag(:form_type, options_for_select([['General Enquiry', 'general'],['Sales Enquiry (or call 1800 19 18 89)', 'sales'], ['Technical Help', 'technical']],1)) %>
						</div>

					  <div class="form-group">
						  <%= text_area_tag :body, nil, :size => '60x12', :class => "form-control", :id => "contact-body", placeholder: "Your Message" %>
					  </div>
					  <div class="form-group">
						  <%= submit_tag 'Submit', :class => "btn btn-primary btn-lg", :id => "contact-form-submit-button" %>
						  <a id="contact-form-sending-button" class="btn btn-primary btn-lg" disabled="disabled" style="display: none">Sending...</a>
					  </div>

					<% end %>
				</div>
	</div>
</div>

<script type="text/javascript">
				$('#contact-form-submit-button').click(function(){
					var submit = true;

					if ($.trim($("#contact-name").val()) === "") {
				        $("#contact-name").css("border-color", "red");
				        submit = false;
				    } else {
				    	$("#contact-name").removeAttr("style");
				    }

				    if ($.trim($("#contact-email").val()) === "") {
				        $("#contact-email").css("border-color", "red");
				        submit = false;
				    } else {
				    	$("#contact-email").removeAttr("style");
				    }

				    if ($.trim($("#contact-body").val()) === "") {
				        $("#contact-body").css("border-color", "red");
				        submit = false;
				    } else {
				    	$("#contact-body").removeAttr("style");
				    }

				    if (submit){
						$('#contact-form-submit-button').hide();
						$('#contact-form-sending-button').show();
					} else {
						return false;
					}
				});
			</script>
