<div class="container">
  <div class="row">

	<div class="welcome jumbotron">
			<%= image_tag "bigfoot.png" %> 
	        <h2>Begin a journey with Mandarin Minds</h2>
	        <p class="lead">Join the 1% of Australians studying Mandarin today and lead Australia into the Asian Century tomorrow. We believe Australia should develop closer ties with China and benefit from its astronomical rise in global stature.</p>
	        <p><a data-toggle="modal" data-target="#signup" class="btn btn-lg btn-primary" >Get started today</a></p>
	</div>
	<div class="features jumbotron">
		<a name="whatwedo"></a>
		<div class="row service">
			<div class="col-md-7 descriptor video">
				<h3 class="title">Video Courses</h3>
				<p class="lead">Learn Mandarin from the comfort of your home. Simply select a teacher and schedule lessons using our online calendar and lesson system.</p>
	        <p><a href="#" class="">Start a free trial   <i class="fa fa-arrow-right"></i></a></p>
			</div>
			<div class="col-md-5 icon">
	        	<%= image_tag "sampleicon1.png", class:"action" %>
			</div>
		</div>
		<div class="row service">
			<div class="col-md-7 descriptor live-lessons">
				<h3 class="title">Live lessons online</h3>
				<p class="lead">Our teachers are certified graduates from Chinese Universities. They are selected by our team and have a passion to teach.Our syllabus is derived from prestigious Chinese Universities</p>
	        <p><a href="#" class="">What we offer <i class="fa fa-arrow-right"></i></a></p>
			</div>
			<div class="col-md-5 icon">
	        	<%= image_tag "sampleicon1.png", class:"action" %>
			</div>
		</div>
	</div>

  </div>
</div>
<div class="asian-century jumbotron">
  <div class="container">
    <h1>Why Mandarin?</h1>
    <p class="lead">Every parent wants the best for their child. In today's evolving world, an additional language helps to open doors and increase career opportunities across the globe. China's emergence as an economic superpower and her close ties to Australia will put your child in good standing when it comes to University and job applications.</p>
    <p><a role="button" class="btn btn-primary btn-lg">Learn more »</a></p>
  </div>
 </div>
<div class="asian-century-points jumbotron">
  <div class="container">
    <div class="col-md-4 point">
    <div class="icon">
    	<%= image_tag "sampleicon1.png", class:"action" %>
	</div>
    <h3 class="title">Be different</h3>
    <quote>One language sets you in a corridor for life. Two languages open every door along the way.”</quote>
    <span>Frank Smith</span>
    <p>In today's globalised world an additional language increases career opportunities around the world. At Mandarin Minds we assist our members in anyway possible to succeed in their Mandarin endeavors. China's emergence as an economic superpower and her close ties to Australia will put yourself or your child in good standing for decades to come.</p>
    </div>
    <div class="col-md-4 point">
    <div class="icon">
    	<%= image_tag "sampleicon1.png", class:"action" %>
	</div>
    <h3 class="title">Earn recognition</h3>
    <quote>“Knowledge of languages is the doorway to wisdom.”</quote>
    <span>Roger Bacon</span>
    <p>The HSK tests are the only globally recognised test used to gauge a student's proficiency in Mandarin. Our teaching methods allow our members to effectively prepare and complete an HSK test specific to their level.</p>
    </div>
    <div class="col-md-4 point">
    <div class="icon">
    	<%= image_tag "sampleicon1.png", class:"action" %>
	</div>
    <h3 class="title">Embrace a new culture</h3>
    <quote>"Language is the road map of a culture. It tells you where its people come from and where they are going.”</quote>
    <span>Rita Mae Brown</span>
    <p>We do not want our members to just learn Mandarin but also to engage in the rich history of the Chinese culture. It is one thing to be able to speak the language but understanding the culture and traditions can be the foundation for friendships and business relationships.</p>
    </div>
  </div>
 </div>