<%= month_calendar events: @lessons, previous_link: events_ajax_previous_link, next_link: events_ajax_next_link do |date, events| %>
  
  <button type="button" class="btn btn-default popover-btn" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="
  Add New Lesson Slot 
  <%= form_for(Lesson.new) do |f| %>
  <div class="field">
    <%= f.label :starts_at %><br>
    <%= f.datetime_select :starts_at, :value => date.in_time_zone("Perth").beginning_of_day.advance(:hours => 6), :discard_year => true, :discard_day => true, :discard_month => true %>
  </div>

  <div class="field">
    <%= f.hidden_field :teacher_id, :value => current_user.id %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

  "
  <%= date.strftime("#{date.day.ordinalize}") %>
</button></br>

  <% @bookedlessons = 0 %>
  <% @availablelessons = 0 %>

  <% events.each do |lesson| %>
    <div>
      <% lesson.student.nil? ? @availablelessons += 1 : @bookedlessons += 1 %>
    </div>
  <% end %>
  <% if @bookedlessons > 0 %>
    <%= @bookedlesson == 1 ? 
    content_tag(:span, "#{@bookedlessons} slot booked", :class => "booked") : 
    content_tag(:span, "#{@bookedlessons} slots booked", :class => "booked") %></br>
  <% end %>
  <% if @availablelessons > 0 %>
    <%= @availablelessons == 1 ? 
    content_tag(:span, "#{@availablelessons} slot available", :class => "available") :
    content_tag(:span, "#{@availablelessons} slots available", :class => "available") %></br>
  <% end %>
<% end %>