<div class = "row">
  <div class="col-xs-8">
    <ul class="list-group">
      <li class="list-group-item"> <strong>Student:</strong>
        <% if lesson.student.nil? %>
          No Booked Student
        <% elsif current_user.role_id > 1 %>
          <%= link_to "#{lesson.student.firstname} #{lesson.student.lastname}", lesson.student %>
        <% else %>
          <%= "#{lesson.student.firstname} #{lesson.student.lastname}" %>
        <% end %>
      </li>
      <li class="list-group-item"><strong>Teacher:</strong>
        <%= lesson.teacher.nil? ? "No Teacher has accepted this lesson" : "#{lesson.teacher.firstname} #{lesson.teacher.lastname}" %>
      </li>        
      <li class="list-group-item"><strong>Starts at:</strong>
        <%= "#{(lesson.starts_at.utc + timezone_offset.hours).strftime('%l:%M%P')} on #{(lesson.starts_at + timezone_offset.hours).strftime("#{(lesson.starts_at.utc + timezone_offset.hours).day.ordinalize} %B %Y")} " %>
        <% if timezone_offset >= 0 %> <%= "(UTC +#{timezone_offset})"%><% else %><%= "(UTC #{timezone_offset})" %><% end %></p>
      </li>
    </ul>
  </div>
  <div class="col-xs-4">
    <% if lesson.starts_at > Time.now - 50.minutes %>                                  
      <div class="well">
        <% unless lesson.student.nil? || lesson.teacher.nil? %>
          <% if (Time.now < (lesson.starts_at + 50.minutes) && Time.now > (lesson.starts_at - 10.minutes)) %>
            <a id="SkypeButton_Call_#echo123_01" 
            onclick="Skype.tryAnalyzeSkypeUri('call', '0');" 
            href="skype:<%= current_user.role_id == 2 ? lesson.student.skypeid : lesson.teacher.skypeid %>?call">
              <%= image_tag "callbutton_32px.png" %>
            </a>
          <% else %>
            <%= image_tag "callbutton_32pxGS.png" %>
          <% end %>                    
        <% else %>
          <%= image_tag "callbutton_32pxGS.png" %>
        <% end %>
      </div>
      <i class="lockable"><%= link_to 'Cancel Lesson', lesson_path(lesson, :teacher => params[:teacher]), method: :delete, :class => "btn btn-primary", :disabled => "disabled" %></i>
      <i class="fa fa-lock lock"></i>
    <% end %>
  </div>
</div>
<% if lesson.starts_at > Time.now %>
  <i> Your call button will be activated 10min before your scheduled lesson starts. </i>
<% end %>

<% if current_user.role_id > 1 %>
</br>
  <div class="current-comment">
  <label for="lesson_name">Comments for this Lesson:</label></br>
  <p><%= lesson.comment.nil? ? "- Blank -" : lesson.comment %></p>
  <button class="btn btn-large btn-primary edit-comment-btn" name="button" style="float: none; padding: 6px 12px;
      font-size: 14px;" type="button">Edit</button>
  </div>

  <div class="edit-comment" style="display: none">
    <%= form_for(lesson, url: lesson_path(lesson), html: {method: "patch"}) do |f| %>


      <%= f.label :name, "Comments for this Lesson" %></br>
      <%= f.text_area :comment, size: "50x6" %></br>

      <%= f.submit "Save", class: "btn btn-large btn-primary", style: "display: inline" %>
      <%= button_tag "Cancel", :type => 'button', class: "btn btn-large btn-primary cancel-comment-edit-btn", style: "float: none; padding: 6px 12px;
        font-size: 14px;" %>
    <% end %>
  </div>
<% end %>





