<div class="introduction">
	<p>Welcome to the Mandarin Minds calendar where you can spend your lessons to book lesson slots with our teachers in China.</p>

	<p>Lessons run for 50 minutes, starting on the hour. Times with no free slots are marked with a grey book so clicking them will no nothing. If there is a free slot available however then the book is red and clicking it will open a window to let you select a teacher and book your lesson with them. Only teachers who are available will be shown. Lessons you have booked wil be shown in black and you can begin you lesson by clicking on it here or from your personal calendar on your Dashboard</p>

	<p>Please be aware that you can only book up to two weeks in advance. You can use the buttons above to navigate from week to week. You cannot book a lesson slot for a time that has already passed so books will not appear in those slots.</p>
</div>

<i class="fa fa-book no-slot"></i> - No lesson slot available</br>
<i class="fa fa-book free-slot"></i> - Lesson slot available for booking</br>
<i class="fa fa-book slot-booked"></i> - You have booked this slot</br></br>

<button class="btn btn-primary" id="next-week-button"> Next Week >> </button>
<button class="btn btn-primary" id="previous-week-button" style="display: none"> << Previous Week </button></br></br>

<div id="current-week-calendar">
	<%= calendar number_of_days: 7, previous_link: "", next_link: "", events: @lessons do |date, events| %>
		<p class="date"><%= date.strftime("#{date.day.ordinalize} %b") %></p>
		<% for i in 9..23 %>
			<% @time = date.in_time_zone("Perth").beginning_of_day + i.hours %>
			<%= content_tag :div, class: "hour" do %>
				<% @formatteddate = date.strftime('%Y-%m-%d') %>
				<%= @time.strftime('%l:%M%P') %>

				<% @hasfreeslot = false %>
				<% @bookedlesson = nil %>
				<% events.each do |lesson| %>
					<% @bookedlesson = lesson if lesson.student == current_user && lesson.confirmed && lesson.starts_at == @time %>
					<% @hasfreeslot = true if lesson.student.nil? && lesson.confirmed && lesson.starts_at == @time%>
				<% end %>

				<% if !@bookedlesson.nil? %> <!-- If not nil it refers to the lesson they booked -->

					<button class="cal-book" data-toggle="modal" data-target="#viewbookedlesson<%=@formatteddate%><%= i %>">
						<i class="fa fa-book slot-booked"></i>
					</button>
					<div class="modal fade" id= 'viewbookedlesson<%=@formatteddate%><%= i %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">
										<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
									</button>
									<h3 class="modal-title" id="myModalLabel">Viewing Your Booked Lesson</h3>
								</div>
								<div class="modal-body">
									<i> Your call button will be activated 10min before your scheduled lesson starts. </i>
				                  	<div class = "row">
				                  		<div class="col-xs-8">
						              		<ul class="list-group">
											    <li class="list-group-item"> <strong>Student:</strong>
						                    <%= @bookedlesson.student.nil? ? "No Booked Student" : "#{@bookedlesson.student.firstname} #{@bookedlesson.student.lastname}" %></li>
											    <li class="list-group-item"><strong>Teacher:</strong>
						                    <%= @bookedlesson.teacher.nil? ? "No Teacher has accepted this lesson" : "#{@bookedlesson.teacher.firstname} #{@bookedlesson.teacher.lastname}" %></li>        
											    <li class="list-group-item"><strong>Starts at:</strong>
						                    <%= "#{@bookedlesson.starts_at.in_time_zone('Perth').strftime('%l:%M%P')} on #{@bookedlesson.starts_at.in_time_zone('Perth').strftime("#{@bookedlesson.starts_at.day.ordinalize} %B %Y")}" %></li>
											</ul>
										</div>
										<div class="col-xs-4">							                  	
							                <div class="well">
							                	<% unless @bookedlesson.student.nil? || @bookedlesson.teacher.nil? %>
							                    	<% if (Time.now < (@bookedlesson.starts_at + 50.minutes) && Time.now > (@bookedlesson.starts_at - 10.minutes)) %>
							                      		<a id="SkypeButton_Call_#echo123_01" onclick="Skype.tryAnalyzeSkypeUri('call', '0');" href="skype:<%= current_user.role_id == 2 ? @bookedlesson.student.skypeid : @bookedlesson.teacher.skypeid %>?call">
							                        	<%= image_tag "callbutton_32px.png" %>
							                     		</a>
							                    	<% else %>
							                    		<%= image_tag "callbutton_32pxGS.png" %>
							                    	<% end %>                    
					                  			<% end %>
					                  		</div>
				                  			<%= link_to 'Cancel Lesson', @bookedlesson, method: :delete, :class => "btn btn-primary", :disabled => "disabled" %><i class="fa fa-lock lock"></i>
					              		</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% elsif @hasfreeslot %> <!-- There are free lesson slots and the student is unbooked-->
					<% if Time.now + 30.minutes < @time %>
						<button class="cal-book" data-toggle="modal" data-target="#booklesson<%=@formatteddate%><%= i %>">
							<i class="fa fa-book free-slot"></i>
						</button>
						<div class="modal fade" id= 'booklesson<%=@formatteddate%><%= i %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">
											<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
										</button>
										<h3 class="modal-title" id="myModalLabel">Lesson Slots for <%=date.strftime("#{date.day.ordinalize} %B %Y")%></h3>
									</div>
									<div class="modal-body">
										<table>
											<thead>
												<tr>
													<td><strong>Start Time</strong></td>
													<td><strong>Teacher</strong></td>
													<td></td>
												</tr>
											</thead>
											<tbody>
											<% events.each do |lesson| %>
												<% if lesson.student.nil? && lesson.confirmed && lesson.starts_at == @time%>
													<tr>
														<td>
															<%="#{lesson.starts_at.in_time_zone("Perth").strftime("%l:%M%P")}"%>
														</td>
														<td>
															<%="#{lesson.teacher.firstname} #{lesson.teacher.lastname}"%>
														</td>
														<td>
															<%= link_to "Make Booking", book_lesson_slot_path(lesson), :class => "btn btn-primary", :disabled => "disabled" %><i class="fa fa-lock lock"></i>
														</td>	
													</tr>
												<% end %>
											<% end %>
											</tbody>
										</table>       
									</div>
								</div>
							</div>
						</div>
					<% end %>
				<% else %> <!-- There are no slots and the student hasn't booked a slot here -->
					<% if Time.now + 30.minutes < @time %>
						<button data-toggle="modal" data-target="#booklesson<%=@formatteddate%>" disabled>
							<i class="fa fa-book no-slot"></i>
						</button>
					<% end %>
				<% end %>
				
			<% end %>
		<% end %>
	<% end %>
</div>

<div id="next-week-calendar" style="display: none">
	<%= calendar start_date: (Time.now + 7.day).to_date, number_of_days: 7, previous_link: "", next_link: "", events: @lessons do |date, events| %>
		<p class="date"><%= date.strftime("#{date.day.ordinalize} %b") %></p>
		<% for i in 9..23 %>
			<% @time = date.in_time_zone("Perth").beginning_of_day + i.hours %>
			<%= content_tag :div, class: "hour" do %>
				<% @formatteddate = date.strftime('%Y-%m-%d') %>
				<%= @time.strftime('%l:%M%P') %>
				<% unless Time.now + 30.minutes > @time %>
					<% @hasfreeslot = false %>
					<% @bookedlesson = nil %>
					<% events.each do |lesson| %>
						<% @bookedlesson = lesson if lesson.student == current_user && lesson.confirmed && lesson.starts_at == @time %>
						<% @hasfreeslot = true if lesson.student.nil? && lesson.confirmed && lesson.starts_at == @time %>
					<% end %>

					<% if !@bookedlesson.nil? %> <!-- If not nil it refers to the lesson they booked -->

						<button class="cal-book" data-toggle="modal" data-target="#viewbookedlesson<%=@formatteddate%><%= i %>">
							<i class="fa fa-book slot-booked"></i>
						</button>
						<div class="modal fade" id= 'viewbookedlesson<%=@formatteddate%><%= i %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">
										<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
									</button>
									<h3 class="modal-title" id="myModalLabel">Viewing Your Booked Lesson</h3>
								</div>
								<div class="modal-body">
									<i> Your call button will be activated 10min before your scheduled lesson starts. </i>
				                  	<div class = "row">
				                  		<div class="col-xs-8">
						              		<ul class="list-group">
											    <li class="list-group-item"> <strong>Student:</strong>
						                    <%= @bookedlesson.student.nil? ? "No Booked Student" : "#{@bookedlesson.student.firstname} #{@bookedlesson.student.lastname}" %></li>
											    <li class="list-group-item"><strong>Teacher:</strong>
						                    <%= @bookedlesson.teacher.nil? ? "No Teacher has accepted this lesson" : "#{@bookedlesson.teacher.firstname} #{@bookedlesson.teacher.lastname}" %></li>        
											    <li class="list-group-item"><strong>Starts at:</strong>
						                    <%= "#{@bookedlesson.starts_at.in_time_zone('Perth').strftime('%l:%M%P')} on #{@bookedlesson.starts_at.in_time_zone('Perth').strftime("#{@bookedlesson.starts_at.day.ordinalize} %B %Y")}" %></li>
											</ul>
										</div>
										<div class="col-xs-4">							                  	
							                <div class="well">
							                	<% unless @bookedlesson.student.nil? || @bookedlesson.teacher.nil? %>
							                    	<% if (Time.now < (@bookedlesson.starts_at + 50.minutes) && Time.now > (@bookedlesson.starts_at - 10.minutes)) %>
							                      		<a id="SkypeButton_Call_#echo123_01" onclick="Skype.tryAnalyzeSkypeUri('call', '0');" href="skype:<%= current_user.role_id == 2 ? @bookedlesson.student.skypeid : @bookedlesson.teacher.skypeid %>?call">
							                        	<%= image_tag "callbutton_32px.png" %>
							                     		</a>
							                    	<% else %>
							                    		<%= image_tag "callbutton_32pxGS.png" %>
							                    	<% end %>                    
					                  			<% end %>
					                  		</div>
				                  			<%= link_to 'Cancel Lesson', @bookedlesson, method: :delete, :class => "btn btn-primary", :disabled => "disabled" %><i class="fa fa-lock lock"></i>
					              		</div>
									</div>
								</div>
							</div>
							</div>
						</div>
					<% elsif @hasfreeslot %> <!-- There are free lesson slots and the student is unbooked-->
						<button class="cal-book" data-toggle="modal" data-target="#booklesson<%=@formatteddate%><%= i %>">
							<i class="fa fa-book free-slot"></i>
						</button>
						<div class="modal fade" id= 'booklesson<%=@formatteddate%><%= i %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">
											<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
										</button>
										<h3 class="modal-title" id="myModalLabel">Lesson Slots for <%=date.strftime("#{date.day.ordinalize} %B %Y")%></h3>
									</div>
									<div class="modal-body">
										<table>
											<thead>
												<tr>
													<td><strong>Start Time</strong></td>
													<td><strong>Teacher</strong></td>
													<td></td>
												</tr>
											</thead>
											<tbody>
											<% events.each do |lesson| %>
												<% if lesson.student.nil? && lesson.confirmed && lesson.starts_at == @time%>
													<tr>
														<td>
															<%="#{lesson.starts_at.in_time_zone("Perth").strftime("%l:%M%P")}"%>
														</td>
														<td>
															<%="#{lesson.teacher.firstname} #{lesson.teacher.lastname}"%>
														</td>
														<td>
															<%= link_to "Make Booking", book_lesson_slot_path(lesson), :class => "btn btn-primary", :disabled => "disabled" %><i class="fa fa-lock lock"></i>
														</td>	
													</tr>
												<% end %>
											<% end %>
											</tbody>
										</table>       
									</div>
								</div>
							</div>
						</div>
					<% else %> <!-- There are no slots and the student hasn't booked a slot here -->
						<button data-toggle="modal" data-target="#booklesson<%=@formatteddate%>" disabled>
							<i class="fa fa-book no-slot"></i>
						</button>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
</div>



<script type="text/javascript">
$("#next-week-button").click(function(){
	$("#next-week-button").hide();
	$("#previous-week-button").show();
	$("#current-week-calendar").hide();
	$("#next-week-calendar").show();
});

$("#previous-week-button").click(function(){
	$("#previous-week-button").hide();
	$("#next-week-button").show();
	$("#next-week-calendar").hide();
	$("#current-week-calendar").show();
});



</script>


