
<div class="introduction">
	<p>Welcome to the Mandarin Minds calendar where you can spend your lessons to book lesson slots with our teachers in China.</p>

	<p>Lessons run for 50 minutes, starting on the hour. Times with no free slots are marked with a grey book so clicking them will no nothing. If there is a free slot available however then the book is red and clicking it will open a window to let you select a teacher and book your lesson with them. Only teachers who are available will be shown. Lessons you have booked wil be shown in black and you can begin you lesson by clicking on it here or from your personal calendar on your Dashboard</p>

	<p>Please be aware that you can only book up to four weeks in advance. You can use the buttons above to navigate from week to week. Further, lessons must be booked at least two days in advance. You are allowed to cancel your lessons but must do so at least 24 hours before they begin to receive back the lesson you spent.</p>
</div>

<i class="fa fa-book no-slot"></i> - No lesson slot available</br>
<i class="fa fa-book free-slot"></i> - Lesson slot available for booking</br>
<i class="fa fa-book slot-booked"></i> - You have booked this slot</br></br>


<div class="calendar-navigation" id="calendar-buttons">
	<button class="btn btn-primary" id="previous-week-button" disabled="disabled"> << Previous Week </button> 
	<button class="btn btn-primary" id="next-week-button"> Next Week >> </button></br>
	<span id="calendar-pagination">
		<i id="circle1" class="fa fa-circle"></i>
		<i id="circle2" class="fa fa-circle-o"></i>
		<i id="circle3" class="fa fa-circle-o"></i>
		<i id="circle4" class="fa fa-circle-o"></i>
	</span>
</div>
Current lessons to spend: <%= current_user.lesson_count %></br>

<% teachers = Teacher.where("show_in_dropdown = true").where("length(abbr) > 0").order(abbr: :asc) %>
<% if teachers.size > 0 %>
	<span id="calendar-select-teacher">Showing lessons taught by: 
	<select id="calendar-select-teacher-dropdown">
			<option value="all" <%= params[:teacher].nil? ? "selected" : "" %>>All Teachers</option>
			<% teachers.each do |t| %>
				<% teacher = User.find_by id: t.user_id %>
				<option value="<%= t.abbr %>" <%= params[:teacher] ==  t.abbr ? "selected" : "" %>><%= "#{teacher.firstname} #{teacher.lastname}" %></option>
			<% end %>
	</select>
	</span>
<% end %>

<script type="text/javascript">
$('#calendar-select-teacher-dropdown').change(function(){
	var t = $( "#calendar-select-teacher-dropdown option:selected" ).attr("value");
	if (t == "all") {
		window.location.href = '/lessons';
	} else {
		window.location.href = '/lessons?teacher=' + t;
	}
	

});

</script>
<p>Showing Times in UTC <% if timezone_offset > 0 %> <%= "+#{timezone_offset}"%><% else %><%= timezone_offset %><% end %></p>
<% first_day = Time.now.utc + timezone_offset.hours %>

<div class="table-responsive" id="week1">
	<%= calendar table: {class: "table"}, start_date: first_day, number_of_days: 7, previous_link: "", next_link: "" do |date| %>
		<%= render "lessons/studentcalendarcontents", date: date, timezone_offset: timezone_offset, events: @lessons_week1 %>
	<% end %>
</div>

<div class="table-responsive" id="week2" style="display: none">
	<%= calendar table: {class: "table"}, start_date: first_day + 7.days, number_of_days: 7, previous_link: "", next_link: "" do |date| %>
		<%= render "lessons/studentcalendarcontents", date: date, timezone_offset: timezone_offset, events: @lessons_week2 %>
	<% end %>
</div>

<div class="table-responsive" id="week3" style="display: none">
	<%= calendar table: {class: "table"}, start_date: first_day + 14.days, number_of_days: 7, previous_link: "", next_link: "" do |date| %>
		<%= render "lessons/studentcalendarcontents", date: date, timezone_offset: timezone_offset, events: @lessons_week3 %>
	<% end %>
</div>

<div class="table-responsive" id="week4" style="display: none">
	<%= calendar table: {class: "table"}, start_date: first_day + 21.days, number_of_days: 7, previous_link: "", next_link: "" do |date| %>
		<%= render "lessons/studentcalendarcontents", date: date, timezone_offset: timezone_offset, events: @lessons_week4 %>
	<% end %>
</div>



<script type="text/javascript">
var currentweek = 1;

$("#next-week-button").click(function(){
	var currentcircle = "#circle" + currentweek;
	var nextcircle = "#circle" + (currentweek + 1);
	var currentcalendar = "#week" + currentweek;
	var nextcalendar = "#week" + (currentweek + 1);

	if (currentweek == 1) $("#previous-week-button").removeAttr('disabled');
	currentweek += 1;
	if (currentweek == 4) $("#next-week-button").attr('disabled','disabled');

	$(currentcircle).removeClass("fa-circle");
	$(currentcircle).addClass("fa-circle-o");
	$(nextcircle).removeClass("fa-circle-o");
	$(nextcircle).addClass("fa-circle");
	$(currentcalendar).hide();
	$(nextcalendar).show();	
});

$("#previous-week-button").click(function(){
	var currentcircle = "#circle" + currentweek;
	var previouscircle = "#circle" + (currentweek - 1);
	var currentcalendar = "#week" + currentweek;
	var previouscalendar = "#week" + (currentweek - 1); 

	if (currentweek == 4) $("#next-week-button").removeAttr('disabled');
	currentweek -= 1;
	if (currentweek == 1) $("#previous-week-button").attr('disabled','disabled');

	$(currentcircle).removeClass("fa-circle");
	$(currentcircle).addClass("fa-circle-o");
	$(previouscircle).removeClass("fa-circle-o");
	$(previouscircle).addClass("fa-circle");
	$(currentcalendar).hide();
	$(previouscalendar).show();	
});



</script>


