<%= month_calendar events: @lessons do |date, events| %>
<% @formatteddate = date.strftime('%Y-%m-%d') %>
<p class ="date"><%= date.strftime("#{date.day.ordinalize}") %></p>
<div class="contents">
	<% @availablelessons = 0 %>
	<% @bookedlessons = 0 %>
	<% @teachers = User.all.where("role_id = 2") %>
	
	<% events.each do |lesson| %>
		<% if lesson.student.nil? && lesson.confirmed %>
			<% @availablelessons += 1 %>
		<% elsif !lesson.student.nil? && !lesson.confirmed %>
			<% @bookedlessons += 1 %>				
		<% end %>
	<% end %>

	<div class="row">
    <div class="col-md-6 confirmed">Free</br><strong><%=@availablelessons%></strong></div>
    <div class="col-md-6 booked">Booked</br><strong><%=@bookedlessons%></strong></div>
    </div>

	<button class="cal-book" data-toggle="modal" data-target="#requestlesson<%=@formatteddate%>"><i class="fa fa-pencil-square-o fa-2"></i></button>
	<button class="cal-lessons" data-toggle="modal" data-target="#booklesson<%=@formatteddate%>"><i class="fa fa-clock-o"></i></button>


	<!-- Modal -->
	<div class="modal fade" id="requestlesson<%=@formatteddate%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">Request Lesson Slot</h4>
				</div>
				<div class="modal-body">
					<form accept-charset="UTF-8" action="/lessons" class="new_lesson" id='<%= @formatteddate.to_s%>' method="post">
						<div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
						<div class="form-group">
							<label for="lesson_starts_at">Starts at</label><br>
							<input id="lesson_starts_at_1i" name="lesson[starts_at(1i)]" type="hidden" value="<%=date.year%>">
							<input id="lesson_starts_at_2i" name="lesson[starts_at(2i)]" type="hidden" value="<%=date.month%>">
							<input id="lesson_starts_at_3i" name="lesson[starts_at(3i)]" type="hidden" value="<%=date.day%>">
							<select class="form-control" id="lesson_starts_at_4i" name="lesson[starts_at(4i)]">
								<option value="00">Midnight</option>
								<option value="01">1am</option>
								<option value="02">2am</option>
								<option value="03">3am</option>
								<option value="04">4am</option>
								<option value="05">5am</option>
								<option value="06">6am</option>
								<option value="07">7am</option>
								<option value="08">8am</option>
								<option selected="selected" value="09">9am</option>
								<option value="10">10am</option>
								<option value="11">11am</option>
								<option value="12">12pm</option>
								<option value="13">1pm</option>
								<option value="14">2pm</option>
								<option value="15">3pm</option>
								<option value="16">4pm</option>
								<option value="17">5pm</option>
								<option value="18">6pm</option>
								<option value="19">7pm</option>
								<option value="20">8pm</option>
								<option value="21">9pm</option>
								<option value="22">10pm</option>
								<option value="23">11pm</option>
							</select>
							<input id="lesson_starts_at_5i" name="lesson[starts_at(5i)]" type="hidden" value="00">
						</div>
						<input id="lesson_student_id" name="lesson[student_id]" type="hidden" value="<%=current_user.id%>">
						<div class="form-group">
							<label for="lesson_teacher_id">Select a Teacher: </label>
							<select id="lesson_teacher_id" class="form-control" name="lesson[teacher_id]">
								<option value=""><%= "No Preference" %></option>
								<option disabled="disabled">----</option>
								<%= @teachers.each do |teacher| %>
								<option value="<%= teacher.id %>"><%= "#{teacher.firstname} #{teacher.lastname}" %></option>
								<% end %>
							</select>
						</div>  

						<input id="lesson_confirmed_id" name="lesson[confirmed]" type="hidden" value="false">

						<div class="actions">
							<button class="btn btn-default" name="commit" type="submit">Create Lesson Slot</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>	

	<div class="modal fade" id= 'booklesson<%=@formatteddate%>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <h3 class="modal-title" id="myModalLabel">Today's Lesson Slots</h3>
          </div>
          <div class="modal-body">
            <p><strong> <%=date.strftime("#{date.day.ordinalize} %B %Y")%> </strong></p>

            <% events.each do |lesson| %>
			<div>
				<% if lesson.student.nil? && lesson.confirmed %>
				<%= link_to "#{lesson.starts_at.in_time_zone("Perth").strftime("%l:%M%P")}", edit_lesson_path(lesson) %> (Free)
				<% elsif !lesson.student.nil? && !lesson.confirmed %>
				<%= "#{lesson.starts_at.in_time_zone("Perth").strftime("%l:%M%P")} (Booked)" %>
				<% end %>
			</div>
			<% end %>        
          </div>
      </div>
    </div>
  </div>	
</div>
<% end %>
