<%= month_calendar events: @lessons do |date, events| %>
    <% @formatteddate = date.strftime('%Y-%m-%d') %>
    <p><%= date.strftime("#{date.day.ordinalize}") %></p>

    <% @availablelessons = 0 %>
    <% @bookedlessons = 0 %>

    <% events.each do |lesson| %>
      <div>
        <% if lesson.student.nil? %>
          <% @availablelessons += 1 %>
          <%= link_to "#{lesson.starts_at.in_time_zone("Perth").strftime("%l:%M%P")}", edit_lesson_path(lesson) %>
        <% else %>
          <% @bookedlessons += 1 %>
          <%= "#{lesson.starts_at.in_time_zone("Perth").strftime("%l:%M%P")}" %>
        <% end %>
      </div>
    <% end %>
  
    <% if @bookedlessons > 0 %>
      <%= @bookedlesson == 1 ? 
      content_tag(:span, "#{@bookedlessons} slot booked", :class => "booked") : 
      content_tag(:span, "#{@bookedlessons} slots booked", :class => "booked") %></br>
    <% end %>
    <% if @availablelessons > 0 %>
      <%= @availablelessons == 1 ? 
      content_tag(:span, "#{@availablelessons} slot available", :class => "available") :
      content_tag(:span, "#{@availablelessons} slots available", :class => "available") %></br>
    <% end %>
<% end %>
