<div class="introduction">
  <p>Slots that you have not made available for booking are marked with a grey book. If you wish to make it available then all you need to do is click on it. This should be done for each hour of your standard working day unless you require a certain time off. These free slots will be red until a student books it, at which point it will turn black and you will be send a notification that it has occured.</p>

  <p>While students can only book up to four weeks in advance you can, and should, make your availability known beyond that timeframe. You cannot book lessons for timeslots that have already passed so no book will appear for those slots.</p>
</div>

<i class="fa fa-book no-slot"></i> - There is no slot available</br>
<i class="fa fa-book free-slot"></i> - A slot is available to be booked</br>
<i class="fa fa-book slot-booked"></i> - Lesson has been booked</br>

<p>Showing Times in UTC <% if timezone_offset > 0 %> <%= "+#{timezone_offset}"%><% else %><%= timezone_offset %><% end %></p>
<div class="table-responsive">
<%= calendar table: {class: "table"}, start_date: Time.now.utc + timezone_offset.hours, number_of_days: 7, previous_link: events_ajax_previous_link, next_link: events_ajax_next_link do |date| %>
  <p class="date"><%= date.strftime("#{date.day.ordinalize} %b") %></p>
  <% for i in 0..23 %>
    <% @time = date.beginning_of_day + i.hours %>
    <% @formatteddate = date.strftime('%Y-%m-%d') %>
    <%= content_tag :div, class: "hour" do %>
      <span class="time"><%= @time.strftime('%l:%M%P') %></span>
      
        <% @plannedlesson = nil %>
        <% @lessons.each do |lesson| %>
          <% if lesson.starts_at == @time && lesson.teacher == current_user%>
            <% @plannedlesson = lesson %>
          <% end %>
        <% end %>

        <% if @plannedlesson.nil? %> <!-- There is no lesson in this timeslot -->
          <% if @time > Time.now + 48.hours + timezone_offset.hours %>
          <form role="form" accept-charset="UTF-8" action="/lessons" class="new_lesson" id='newlesson-<%= @formatteddate.to_s%>' method="post" style="display: inline">
            <button class="btn btn-default" name="commit" type="submit">
              <i class="fa fa-book no-slot"></i>
            </button>
            <input class="form-control" name="utf8" type="hidden" value="✓">             
            <input class="form-control" id="lesson_starts_at_1i" name="lesson[starts_at(1i)]" type="hidden" value="<%=date.year%>"/>
            <input class="form-control"id="lesson_starts_at_2i" name="lesson[starts_at(2i)]" type="hidden" value="<%=date.month%>"/>
            <input class="form-control"id="lesson_starts_at_3i" name="lesson[starts_at(3i)]" type="hidden" value="<%=date.day%>"/>
            <input class="form-control"id="lesson_starts_at_4i" name="lesson[starts_at(4i)]" type="hidden" value="<%=@time.hour%>"/>
            <input class="form-control"id="lesson_starts_at_5i" name="lesson[starts_at(5i)]" type="hidden" value="00"/>
            <input class="form-control"id="lesson_teacher_id" name="lesson[teacher_id]" type="hidden" value="<%=current_user.id%>"/>
            <input class="form-control"id="lesson_confirmed_id" name="lesson[confirmed]" type="hidden" value="true"/>
          </form>
          <!--<script type="text/javascript">
            $('#newlesson-<%= @formatteddate.to_s%>').submit(function() {  
              var valuesToSubmit = $(this).serialize();
              var button = $(this).find('button');
              $.ajax({
                type: "POST",
                url: $(this).attr('action'), 
                data: valuesToSubmit,
                dataType: "JSON",
                success: function(){
                  button.html('<i class="fa fa-book free-slot"></i>');
                }
              });
              return false;
            });
          </script>-->
          <% end %>
        <% else %> <!-- There IS a lesson in this slot -->

          <% if @plannedlesson.student.nil? %>
            <button class="viewlesson" data-lesson=<%= @plannedlesson.id%> data-toggle="modal" data-target="#viewlesson<%=@formatteddate%><%= i %>">
              <i class="fa fa-book free-slot"></i>
            </button>
          <% else %>
            <button class="viewlesson" data-lesson=<%= @plannedlesson.id%> data-toggle="modal" data-target="#viewlesson<%=@formatteddate%><%= i %>">
              <i class="fa fa-book slot-booked"></i>
            </button>
          <% end %>
          <div class="modal fade" id= 'viewlesson<%=@formatteddate%><%= i %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <%= render "lessons/lessonmodal", lesson: @plannedlesson, timezone_offset: timezone_offset %>
          </div> 
        <% end %>
      
    <% end %>
  <% end %>
<% end %>
</div>
<!--<script type="text/javascript">
$('.viewlesson').click(function(){
  var body = $(this).next().find(".modal-body");
  $.ajax({
    type: 'GET',
    url: '/users',
    data: "id=4",
    dataType: 'json',
    cache: false,
    success:  function(data){ 
      console.log(data);
    }
  });
  /*$.ajax({
      type: 'GET',
      url: '/lessons/get_lesson_details',
      data: 'id='+ $(this).attr('data-lesson'),
      dataType: 'json',
      async: false,
      success:  function(data){ 
        console.log(data); 
        body.html("");
        if (data[0].student_id == null){
          body.append("<b>Student: </b> None booked yet</br>");
        } else {
          updateUserData(data[0].student_id, body, "s"); 
        }
        if (data[0].teacher_id == null){
          body.append("<b>Teacher: </b> None assigned yet</br>");
        } else {
          updateUserData(data[0].student_id, body, "t"); 
        }
      }
  });*/
});

function updateUserData(uid, body, role){
  $.ajax({
    type: 'GET',
    url: '/users/'+uid+".json",
    dataType: 'json',
    async: false,
    success:  function(user){ 
      console.log(user[0]);
      if (role == "s"){
        body.append("<b>Student: </b>" + user[0].firstname + " " + user[0].lastname + "</br>");
      } else if (role == "t") {
        body.append("<b>Teacher: </b>" + user[0].firstname + " " + user[0].lastname + "</br>");
      }
    }
  });
  
}
</script>-->





