<% first_day = params[:start_date] %>
<% first_day ||= (Time.now.utc + timezone_offset.hours).strftime('%Y-%m-%d') %>
<% first_day = Time.parse(first_day + ' 00:00:00') %>
<% last_week = (first_day - 7.days).strftime('%Y-%m-%d') %>
<% next_week = (first_day + 7.days).strftime('%Y-%m-%d') %>

<div class="introduction">
  <p>Slots that you have not made available for booking are marked with a grey book. If you wish to make it available then all you need to do is click on it. This should be done for each hour of your standard working day unless you require a certain time off. These free slots will be red until a student books it, at which point it will turn black and you will be send a notification that it has occured.</p>

  <p>While students can only book up to four weeks in advance you can, and should, make your availability known beyond that timeframe. You cannot book lessons for timeslots that have already passed so no book will appear for those slots.</p>
</div>

<i class="fa fa-book no-slot"></i> - You are not available to teach.</br>
<i class="fa fa-book free-slot"></i> - You are marked as available but no student has booked with you.</br>
<i class="fa fa-book slot-booked"></i> - A student has booked a lesson with you.</br></br>


<%= link_to "<< Previous Week", lessons_path(start_date: last_week), class: "btn btn-primary" %>
<%= link_to "Current Week", lessons_path(start_date: (Time.now.utc + timezone_offset.hours).strftime('%Y-%m-%d')), class: "btn btn-primary" %>
<%= link_to "Next Week >>", lessons_path(start_date: next_week), class: "btn btn-primary" %></br>

Showing Times in UTC <% if timezone_offset > 0 %> <%= "+#{timezone_offset}"%><% else %><%= timezone_offset %><% end %>
<div class="table-responsive">
<%= calendar table: {class: "table"}, start_date: Time.now.utc + timezone_offset.hours, number_of_days: 7, previous_link: "", next_link: "" do |date| %>
  <p class="date"><%= date.strftime("#{date.day.ordinalize} %b") %></p>
  <% for i in 0..23 %>
    <% @time = date.beginning_of_day + i.hours %>
    <% @formatteddate = date.strftime('%Y-%m-%d') %>
    <%= content_tag :div, class: "hour" do %>
      <span class="time"><%= @time.strftime('%l:%M%P') %></span>
      
        <% @plannedlesson = nil %>
        <% @lessons.each do |lesson| %>
          <% if lesson.starts_at + timezone_offset.hours == @time %>
            <% @plannedlesson = lesson %>
          <% end %>
        <% end %>

        <% if @plannedlesson.nil? %> <!-- There is no lesson in this timeslot -->
          <% if @time > Time.now + 48.hours + timezone_offset.hours %>
          <form role="form" accept-charset="UTF-8" action="/lessons" class="new_lesson" id='newlesson-<%= @formatteddate.to_s%>' method="post" style="display: inline">
            <button class="btn btn-default" name="commit" type="submit">
              <i class="fa fa-book no-slot"></i>
            </button>

            <% utctime = @time - timezone_offset.hours %>
            <input class="form-control" name="utf8" type="hidden" value="✓">             
            <input class="form-control" id="lesson_starts_at_1i" name="lesson[starts_at(1i)]" type="hidden" value="<%=utctime.year%>"/>
            <input class="form-control"id="lesson_starts_at_2i" name="lesson[starts_at(2i)]" type="hidden" value="<%=utctime.month%>"/>
            <input class="form-control"id="lesson_starts_at_3i" name="lesson[starts_at(3i)]" type="hidden" value="<%=utctime.day%>"/>
            <input class="form-control"id="lesson_starts_at_4i" name="lesson[starts_at(4i)]" type="hidden" value="<%=utctime.hour%>"/>
            <input class="form-control"id="lesson_starts_at_5i" name="lesson[starts_at(5i)]" type="hidden" value="00"/>
            <input class="form-control"id="lesson_teacher_id" name="lesson[teacher_id]" type="hidden" value="<%=current_user.id%>"/>
          </form>
          
          <% end %>
        <% else %> <!-- There IS a lesson in this slot -->

          <% if @plannedlesson.student.nil? %>
            <button class="viewlesson" data-lesson=<%= @plannedlesson.id%> data-toggle="modal" data-target="#viewlesson<%=@formatteddate%><%= i %>">
              <i class="fa fa-book free-slot"></i>
            </button>
          <% else %>
            <button class="viewlesson" data-lesson=<%= @plannedlesson.id%> data-toggle="modal" data-target="#viewlesson<%=@formatteddate%><%= i %>">
              <i class="fa fa-book slot-booked"></i>
            </button>
          <% end %>
          <div class="modal fade" id= 'viewlesson<%=@formatteddate%><%= i %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <%= render "lessons/lessonmodal", lesson: @plannedlesson, timezone_offset: timezone_offset %>
          </div> 
        <% end %>
      
    <% end %>
  <% end %>
<% end %>
</div>

<div><%= form_tag("/lessons/add_multiple") do %>
<h3> Add Multiple Lesson Slots at Once</h3>
<p><%= select_date (Date.today + timezone_offset.hours), prefix: :start %></p>

<p>From: 
<select id="start_date_hour" name="start[hour]">
<option selected="selected" value="0">12:00am</option>
<% for i in 1..23 do %>
<option value="<%= i %>"><%= (Time.now.utc.beginning_of_day + i.hours).strftime('%l:%M%P') %></option>
<% end %>
</select>

To:
<select id="end_date_hour" name="end[hour]">
<option selected="selected" value="0">12:00am</option>
<% for i in 1..23 do %>
  <option value="<%= i %>"><%= (Time.now.utc.beginning_of_day + i.hours).strftime('%l:%M%P') %></option>
<% end %>
</select></p>

<p>Repeat for 
<select id="repeat_days" name="repeat">
<option selected="selected" value="1">1 day</option>
<% for i in 2..7 do %>
<option value="<%= i %>"><%= i %> days</option>
<% end %>
</select>
</p>

<%= submit_tag("Add Lessons") %>
<% end %></div>

<% @lessons.each do |l| %>
<smaller style="font-size: 10px"><%= l.inspect %></smaller></br>
<% end %>
