<h1>Listing lessons</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Teacher</th>
      <th>Starts at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
    <tr>
      <td><%= lesson.student %></td>
      <td><%= lesson.teacher %></td>
      <td><%= lesson.starts_at %></td>
      <td><%= link_to 'Show', lesson %></td>
      <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
      <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to 'New Lesson', new_lesson_path %></p>

<p>The Calendar starts below:</p>

<%= month_calendar events: @lessons do |date, events| %>
  <p><%= date.strftime("#{date.day.ordinalize}") %></p>

  <% events.each do |lesson| %>
    <div>
      <% if lesson.student.nil? %>
      <p><%= link_to "Free Lesson Slot", lesson %></p>
      <% else %>
      <p><%= link_to "Booked Lesson Slot", lesson %></p>    
      <% end %>
    </div>
  <% end %>
<% end %>




