<h1>Listing lessons</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Teacher</th>
      <th>Starts at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
    <tr>
      <td><%= lesson.student %></td>
      <td><%= lesson.teacher %></td>
      <td><%= lesson.starts_at %></td>
      <td><%= link_to 'Show', lesson %></td>
      <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
      <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'New Lesson', new_lesson_path %></p>

<p>The Calendar starts below:</p>

<%= month_calendar events: @lessons do |date, events| %>
  <p><%= date.strftime("#{date.day.ordinalize}") %></p>
  <% @bookedlessons = 0 %>
  <% @availablelessons = 0 %>

  <% events.each do |lesson| %>
    <div>
      <% lesson.student.nil? ? @availablelessons += 1 : @bookedlessons += 1 %>
    </div>
  <% end %>
  <% if @bookedlessons > 0 %>
    <%= @bookedlesson == 1 ? 
    content_tag(:span, "#{@bookedlessons} slot booked", :class => "booked") : 
    content_tag(:span, "#{@bookedlessons} slots booked", :class => "booked") %></br>
  <% end %>
  <% if @availablelessons > 0 %>
    <%= @availablelessons == 1 ? 
    content_tag(:span, "#{@availablelessons} slot available", :class => "available") :
    content_tag(:span, "#{@availablelessons} slots available", :class => "available") %></br>
  <% end %>
<% end %>




