<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @lesson.student.nil? ? "No Booked Student" : "#{@lesson.student.firstname} #{@lesson.student.lastname}" %>
</p>
  <p>
    <strong>Teacher:</strong>
  <%= @lesson.teacher.nil? ? "No Teacher has accepted this lesson" : "#{@lesson.teacher.firstname} #{@lesson.teacher.lastname}" %>
</p>
<p>
  <strong>Starts at:</strong>
  <%= "#{@lesson.starts_at.in_time_zone('Perth').strftime('%l:%M%P')} on #{@lesson.starts_at.in_time_zone('Perth').strftime("#{@lesson.starts_at.day.ordinalize} %B %Y")}" %>
</p>

<p>
<button><%= link_to 'Cancel Lesson', @lesson, method: :delete, data: { confirm: 'Are you sure you want to cancel this lesson?' } %></button>
</p>

  <% unless @lesson.student.nil? || @lesson.teacher.nil? %>
    <% if (Time.now < (@lesson.starts_at + 50.minutes) && Time.now > (@lesson.starts_at - 10.minutes)) %>
      Begin Your Lesson:</br></br>
    	<a id="SkypeButton_Call_#echo123_01" onclick="Skype.tryAnalyzeSkypeUri('call', '0');" href="skype:<%= current_user.role_id == 2 ? @lesson.student.skypeid : @lesson.teacher.skypeid %>?call">
    		<%= image_tag "callbutton_32px.png" %>
    	</a>
    <% else %>
    <i> Your call button will be activated 10min before your scheduled lesson starts. </i></br></br>
    <%= image_tag "callbutton_32pxGS.png" %>
  <% end %>
    
  <% end %>

