<div>
  <div class = "row">
    <div class="col-xs-8">
      <ul class="list-group">
        <li class="list-group-item"> <strong>Student:</strong>
            <% if current_user.role_id > 1 && @lesson.student %>
            <a href="/users/<%= @lesson.student_id %>">
            <% end %>
          <%= @lesson.student.nil? ? "No Booked Student" : "#{@lesson.student.firstname} #{@lesson.student.lastname}" %></li>
            <% if current_user.role_id > 1 && @lesson.student %>
            </a>
            <% end %>
          <li class="list-group-item"><strong>Teacher:</strong>
            <%= @lesson.teacher.nil? ? "No Teacher has accepted this lesson" : "#{@lesson.teacher.firstname} #{@lesson.teacher.lastname}" %></li>        
            <li class="list-group-item"><strong>Starts at:</strong>
              <%= "#{@lesson.starts_at.in_time_zone('Perth').strftime('%l:%M%P')} on #{@lesson.starts_at.in_time_zone('Perth').strftime("#{@lesson.starts_at.day.ordinalize} %B %Y")}" %></li>
            </ul>
          </div>
          <div class="col-xs-4"> 
          <% if @lesson.starts_at > Time.now - 50.minutes %>                                 
            <div class="well">
              <% unless @lesson.student.nil? || @lesson.teacher.nil? %>
                <% if (Time.now < (@lesson.starts_at + 50.minutes) && Time.now > (@lesson.starts_at - 10.minutes)) %>
                <a id="SkypeButton_Call_#echo123_01" onclick="Skype.tryAnalyzeSkypeUri('call', '0');" href="skype:<%= current_user.role_id == 2 ? @lesson.student.skypeid : @lesson.teacher.skypeid %>?call">
                  <%= image_tag "callbutton_32px.png" %>
                </a>
                <% else %>
                <%= image_tag "callbutton_32pxGS.png" %>
                <% end %> 
              <% else %>
               <%= image_tag "callbutton_32pxGS.png" %>                   
              <% end %>
            </div>
            <%= link_to 'Cancel Lesson', @lesson, method: :delete, :class => "btn btn-primary", :disabled => "disabled" %><i class="fa fa-lock lock"></i>
            <% end %>
          </div>
        </div>
        <i> Your call button will be activated 10min before your scheduled lesson starts. </i></br>
        <% if current_user.role_id == 1 && @lesson.starts_at < Time.now + 24.hours && @lesson.starts_at > Time.now - 1.hour %>
                  This lesson is less than 24h away. If you cancel you will <b>not</b> be refunded the lesson you spent
        <% end %>


      </div>

      <script type="text/javascript">
      $(".lock").click(function(){
        var lock = $(this);
        var button = lock.prev();
        if (lock.hasClass("fa-lock")) {
          lock.removeClass("fa-lock");
          lock.addClass("fa-unlock-alt");
          button.removeAttr('disabled');  
        } else {
          lock.removeClass("fa-unlock-alt");
          lock.addClass("fa-lock");
          button.attr('disabled','disabled');   
        }
      });
      </script>