<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @lesson.student %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @lesson.teacher %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @lesson.starting_time %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
