<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @lesson.student.nil? ? "No Booked Student" : "#{@lesson.student.firstname} #{@lesson.student.lastname}" %>
  
</p>

<p>
  <strong>Teacher:</strong>
  <%= @lesson.teacher.nil? ? "No Preference" : "#{@lesson.teacher.firstname} #{@lesson.teacher.lastname}" %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= "#{@lesson.starts_at.in_time_zone('Perth').strftime('%l:%M%P')} on #{@lesson.starts_at.in_time_zone('Perth').strftime("#{@lesson.starts_at.day.ordinalize} %B %Y")}" %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
