<%= form_for @post, html: { class: "form-horizontal", style: "display:none;", id: "new-post-form" } do |f| %>
  <div class="modal-body">
    <ul class="errors"></ul>
    <div class="control-group">
      <%= f.label :title, class:"control-label" %>
      <div class="controls">
        <%= f.text_field :title, id: "title-input", :autocomplete => :off %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :body, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :body, id: "body-input", :autocomplete => :off %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", "#", class: "btn", id: "cancel-post", data: {dismiss: "modal"} %>
  </div>
<% end %>
