<% if user_signed_in? %>
<div class="container-fluid">
<% else %>
<div class="container">
<% end %>
	<div class="row">
		<% if user_signed_in? %>
			<div class="packages jumbotron">
				<h1>Top up</h1>
				<p class="lead">Continue your journey with Mandarin Minds, we love having you here and cant wait to see what your journey entails.</p>
			</div>
		<% else %>
		
		<div class="packages jumbotron">
			<h1>Get started today!</h1>
			<div class="row">
				<div class="lead col-md-8 col-md-offset-2">
					<ul>
						<li><i class="fa fa-check"></i>Live lessons with any of our talented teachers</li>
						<li><i class="fa fa-check"></i>Video courses on specialised topics</li>
						<li><i class="fa fa-check"></i>Around the clock support</li>
						<li><i class="fa fa-check"></i>Access to exclusive material</li>
					</ul>
				</div>
			</div>
			<a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signup">Sign up</a>
			<p class="comment">for a free complimentary lesson</p>
		</div>
		<% end %>

		<div id="plans" class="">
			<p>Try one of our cost-effective lesson packages to continue your learning experience past your initial free introduction. Interested in purchasing a larger number of lessons for a bulk-buy discount? Contact <a>itsupport@mandarinminds.com</a> to voice your interest.</p>
		<% duduPlan = nil %>
		  <% @plans.each do |plan| %>
		  <% if plan.name == "Dudu Package" %>
		  <% duduPlan = plan %>
		  <% else %>
		  	<% if plan.lessons < 20 || (user_signed_in? && current_user.settings.view_large_plans) %>
			    <div class="plan col-md-3">
				    <div class="plan-wrapper">
				      <div class="name">&nbsp;<%= plan.name %></div>
				      <div class="details">
				        <div class="price">
				          <%= number_to_currency plan.price, :precision => 0 %>
				        </div>
				      </div>
				      <% if user_signed_in? %>
				      	<%= link_to "Buy now",  charge_plan_path(plan), :class => 'btn btn-primary btn-lg' %>
				      <% end %>
				    </div>
			    </div>
			<% end %>
		  	<% end %>
		  <% end %>
		  <% if user_signed_in? && current_user.settings.purchased_dudu %>
		  <p> Visit your Dashboard to access your Dudu Package </p>
		  <% else %>
			
		  <p>Here at Mandarin Minds we've teamed up with linguistics textbook provider DuDu to offer a discount on their online plan. This one-off purchase provides you with a wealth of features including:<ul>
		  	<li>A range of eBooks to further your education in Mandarin</li>
		  	<li>Quality customer service for all Dudu products</li>
		  	<li>Incredible feature three</li>
		  	<li>A link to the Dudu site and features should be included somewhere</li>
		  	</ul></p>

		  	<p>Once purchased you can access the wealth of Dudu resources from your Mandarin Minds dashboard.</p>

		  	<div class="plan col-md-offset-4 col-md-4">
			    <div class="plan-wrapper">
			      <div class="name">&nbsp;<%= duduPlan.name %></div>
			      <div class="details">
			        <div class="price">
			          <%= number_to_currency duduPlan.price, :precision => 0 %>
			        </div>
			      </div>
			      <% if user_signed_in? %>
			      	<%= link_to "Buy now",  charge_plan_path(duduPlan), :class => 'btn btn-primary btn-lg' %>
			      <% end %>
			    </div>
		    </div>

		    <% end %>
		    

		    
		</div>
	</div>
</div>
