<% content_for :head do %>
  <title>Packages</title>
  <meta name="description" content="Browse our range of affordable lesson packages">
<% end %>

<% if user_signed_in? %>
<div class="container-fluid">
<% else %>
<div class="container">
<% end %>
	<div class="row">
		<% if user_signed_in? %>
			<div class="packages jumbotron">
				<h1>Top up</h1>
				<p class="lead">Continue your journey with Mandarin Minds, we love having you here and cant wait to see what your journey entails.</p>
			</div>
		<% else %>
		
		<div class="packages jumbotron">
			<h1>Get started today!</h1>
			<div class="row">
				<div class="lead col-md-8 col-md-offset-2">
					<ul>
						<li><i class="fa fa-check"></i>Live lessons with any of our talented teachers</li>
						<li><i class="fa fa-check"></i>Video courses on specialised topics</li>
						<li><i class="fa fa-check"></i>Around the clock support</li>
						<li><i class="fa fa-check"></i>Access to exclusive material</li>
					</ul>
				</div>
			</div>
			<a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signup">Sign up</a>
			<p class="comment">for a free complimentary lesson</p>
		</div>
		<% end %>

		<div id="plans" class="">
			
		<div class="row">
		<h1>Live Lesson Packages</h1>
		<% duduPlan = nil %>
		  <% @plans.each do |plan| %>
		  <% if plan.name == "eBooks Package Subscription" %>
		  <% duduPlan = plan %>
		  <% else %>
		  	<% if plan.lessons <= 50 || (user_signed_in? && current_user.settings.view_large_plans) %>
			    <div class="plan col-md-3">
				    <div class="plan-wrapper">
				      <div class="name">&nbsp;<%= plan.name %></div>
				      <div class="details">
				        <div class="price">
				          <%= number_to_currency plan.price, :precision => 0 %>
				        </div>
				      </div>
				      <% if user_signed_in? %>
				      	<%= link_to "Buy now",  charge_plan_path(plan), :class => 'btn btn-primary btn-lg' %>
				      <% end %>
				    </div>
			    </div>
			<% end %>
		  	<% end %>
		  <% end %>
		  </div>

		  <div style="text-align: center; margin-bottom: 30px; margin-top: 30px; padding-bottom: 20px; border: 1px #DDD solid; border-radius: 10px">
		  	<h2>School and Corporate Packages</h2>
		  	<p class="lead">Here at Mandarin Minds we offer a discounted price for those purchasing a large volume of lessons for their school or company.</p>
		  	<a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#contactform">Sales Enquiries</a>
		  	<div class="modal fade" id="contactform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        <h4 class="modal-title" id="myModalLabel">Contact Form</h4>
			        <p>All fields are required</p>
			      </div>
			      <div class="modal-body">
			        <%= form_tag({controller: 'static', action: 'contact_form'}, method: 'post') do %>
			          <div class="form-group">
						  <%= text_field_tag :name, nil, :class => "form-control", :id => "contact-name", placeholder: "Name" %>
					  </div>
					  <div class="form-group">
						  <%= text_field_tag :email, nil, :class => "form-control", :id => "contact-email", placeholder: "Email" %>
					  </div>
					  <div class="form-group">
							Type of request:
					  <%= select_tag(:form_type, options_for_select([['General Enquiry', 'general'],['Sales Enquiry (or call 1800 19 18 89)', 'sales'], ['Technical Help', 'technical']],1)) %>
						</div>
					  <div class="form-group">
						  <%= text_area_tag :body, nil, :size => '60x12', :class => "form-control", :id => "contact-body", placeholder: "Your Message" %>
					  </div>
					  <div class="form-group">
						  <%= submit_tag 'Submit', :class => "btn btn-primary btn-lg", :id => "contact-form-submit-button" %>
						  <a id="contact-form-sending-button" class="btn btn-primary btn-lg" disabled="disabled" style="display: none">Sending...</a>
					  </div>

					<% end %>
			      </div>
			    </div>
			  </div>
			</div>

			<script type="text/javascript">
				$('#contact-form-submit-button').click(function(){
					var submit = true;

					if ($.trim($("#contact-name").val()) === "") {
				        $("#contact-name").css("border-color", "red");
				        submit = false;
				    } else {
				    	$("#contact-name").removeAttr("style");
				    }

				    if ($.trim($("#contact-email").val()) === "") {
				        $("#contact-email").css("border-color", "red");
				        submit = false;
				    } else {
				    	$("#contact-email").removeAttr("style");
				    }

				    if ($.trim($("#contact-body").val()) === "") {
				        $("#contact-body").css("border-color", "red");
				        submit = false;
				    } else {
				    	$("#contact-body").removeAttr("style");
				    }

				    if (submit){
						$('#contact-form-submit-button').hide();
						$('#contact-form-sending-button').show();
					} else {
						return false;
					}
				});
			</script>
		  </div>


		 
		 	<% unless duduPlan.nil? %>
				  <% if user_signed_in? && current_user.settings.purchased_dudu %>
				  <p> Visit your Dashboard to access your eBooks Package </p>
				  <% else %>
					
				  
				  <div class="packages jumbotron">
				  	<h1>eBooks Package</h1>
				  		<p class="col-md-12 lead">Research has shown that learning a second language improves cognitive abilities. More studies have determined that the best time to pick up a second language is during early childhood. At Mandarin Minds, we greatly encourage younger children to start their Mandarin journey using our interactive online eBooks! </br></br>While these may be designed to attract and entertain children, it will also greatly benefit any Mandarin newbie!</p>
					  <ul class="col-md-10 col-md-offset-1">
						<li><i class="fa fa-check"></i>A placement test will help you find the most suitable material to read</li>
						<li><i class="fa fa-check"></i>A range of over 100 eBooks for all levels to further your education in Mandarin</li>
						<li><i class="fa fa-check"></i>Our interactive games and quizzes offer an exciting way of learning</li>
						<li><i class="fa fa-check"></i>Check out our brochure <a href="/images/dudu-brochure.jpg">here</a></li>
					  	</ul>
					  	<p class="col-md-12 lead" >Once subscribed you can access the resources from your Mandarin Minds dashboard.</p>
				  </div>

				  <div class="plan col-md-offset-4 col-md-4">
					    <div class="plan-wrapper">
					      <div class="name">&nbsp;<%= duduPlan.name %></div>
					      <div class="details">
					        <div class="price">
					          <%= number_to_currency duduPlan.price, :precision => 0 %> / month
					        </div>
					      </div>
					      <% if user_signed_in? %>
					      	<%= link_to "Buy now",  charge_plan_path(duduPlan), :class => 'btn btn-primary btn-lg' %>
					      <% end %>
					    </div>
				    </div>
				  	

				    <% end %>
		<% end %>
		
		    

		    
		</div>
	</div>
</div>
