<% if user_signed_in? %>
<div class="container-fluid">
<% else %>
<div class="container">
<% end %>
	<div class="row">
		<% if user_signed_in? %>
			<div class="packages jumbotron">
				<h1>Top up</h1>
				<p class="lead">Continue your journey with Mandarin Minds, we love having you here and cant wait to see what your journey entails.</p>
			</div>
		<% else %>
		
		<div class="packages jumbotron">
			<h1>Get started today!</h1>
			<div class="row">
				<div class="lead col-md-8 col-md-offset-2">
					<ul>
						<li><i class="fa fa-check"></i>Live lessons with any of our talented teachers</li>
						<li><i class="fa fa-check"></i>Video courses on specialised topics</li>
						<li><i class="fa fa-check"></i>Around the clock support</li>
						<li><i class="fa fa-check"></i>Access to exclusive material</li>
					</ul>
				</div>
			</div>
			<a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signup">Sign up</a>
			<p class="comment">for a free complimentary lesson</p>
		</div>
		<% end %>

		<div id="plans" class="">
			<div class="row">
			<% if user_signed_in? %>
			<% else %>
			<div class="col-md-4 steps">
			
			<div class="icon">
			<%= image_tag "teachers.png", class:"action" %>
			</div>
			<h1>1</h1>
			<p>Take a free trial with one of our passionate Chinese teachers. Why not, it’s free? Choose from one of our packages?</p></div>
			<div class="col-md-4 steps">
			
			<div class="icon">
			<%= image_tag "laptop.png", class:"action" %>
			</div>
			<h1>2</h1>
			<p>Take a short quiz so we can assess your Mandarin level. It’s best we get this right now so we don’t waste your time!</p></div>
			<div class="col-md-4 steps">
			
			<div class="icon">
			<%= image_tag "plane.png", class:"action" %>
			</div>
			<h1>3</h1>
			<p>You may not be aware but your journey has already begun so go ahead, it’s time to start your learning adventure
Practice and retain what you have learned through periodic quizzes. Monitor your improvement with continued teacher feedback.</p></div>
			</div>
			<% end %>
		<div class="row">
		<h1>Pricing</h1>
		<% duduPlan = nil %>
		  <% @plans.each do |plan| %>
		  <% if plan.name == "Dudu Package" %>
		  <% duduPlan = plan %>
		  <% else %>
		  	<% if plan.lessons <= 50 || (user_signed_in? && current_user.settings.view_large_plans) %>
			    <div class="plan col-md-3">
				    <div class="plan-wrapper">
				      <div class="name">&nbsp;<%= plan.name %></div>
				      <div class="details">
				        <div class="price">
				          <%= number_to_currency plan.price, :precision => 0 %>
				        </div>
				      </div>
				      <% if user_signed_in? %>
				      	<%= link_to "Buy now",  charge_plan_path(plan), :class => 'btn btn-primary btn-lg' %>
				      <% end %>
				    </div>
			    </div>
			<% end %>
		  	<% end %>
		  <% end %>
		  </div>


		 <% if false %> <%# Not Showing Dudu yet %>
				  <% if user_signed_in? && current_user.settings.purchased_dudu %>
				  <p> Visit your Dashboard to access your Dudu Package </p>
				  <% else %>
					<div class="plan col-md-offset-4 col-md-4">
					    <div class="plan-wrapper">
					      <div class="name">&nbsp;<%= duduPlan.name %></div>
					      <div class="details">
					        <div class="price">
					          <%= number_to_currency duduPlan.price, :precision => 0 %>
					        </div>
					      </div>
					      <% if user_signed_in? %>
					      	<%= link_to "Buy now",  charge_plan_path(duduPlan), :class => 'btn btn-primary btn-lg' %>
					      <% end %>
					    </div>
				    </div>
				  
				  <div class="row">
				  		<p class="col-md-8 col-md-offset-2">Here at Mandarin Minds we've teamed up with linguistics textbook provider DuDu to offer a discount on their online plan. This one-off purchase provides you with a wealth of features including:</p>
					  <ul class="col-md-8 col-md-offset-2">
						<li><i class="fa fa-check"></i>A range of eBooks to further your education in Mandarin</li>
						<li><i class="fa fa-check"></i>Quality customer service for all Dudu products</li>
						<li><i class="fa fa-check"></i>Incredible feature three</li>
						<li><i class="fa fa-check"></i>A link to the Dudu site and features should be included somewhere</li>
					  	</ul>
					  	<p class="col-md-8 col-md-offset-2">Once purchased you can access the wealth of Dudu resources from your Mandarin Minds dashboard.</p>
				  </div>
				  	

				    <% end %>
		<% end %>
		    

		    
		</div>
	</div>
</div>
