<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @charge.user_id %>
</p>

<p>
  <strong>Sale:</strong>
  <%= @charge.sale_id %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @charge.plan_id %>
</p>

<%= link_to 'Edit', edit_charge_path(@charge) %> |
<%= link_to 'Back', charges_path %>
