<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
		          <ul class="nav nav-sidebar">
		            <li id="sidetips" data-toggle="tooltip" data-placement="right" data-animation="true" title="Invoicing"><a href="/posts"><span class="sidenav-icons"><i class="fa fa-paper-plane"></i></span>Blog</a></li>
		            <li id="sidetips" data-toggle="tooltip" data-placement="right" data-animation="true" title="Schedule"><a href="/teachers"><span class="sidenav-icons"><i class="fa fa-users"></i></span>Teachers</a></li>
		            <li id="sidetips" data-toggle="tooltip" data-placement="right" data-animation="true" title="Invoicing"><a href="/lessons"><span class="sidenav-icons"><i class="fa fa-calendar"></i></span>Calendar</a></li>
		            <li id="sidetips" data-toggle="tooltip" data-placement="right" data-animation="true" title="Settings"><a href="#"><span class="sidenav-icons"><i class="fa fa-video-camera"></i></span>Videos</a></li>
		            <li id="sidetips" data-toggle="tooltip" data-placement="right" data-animation="true" title="Invoicing"><a href="/plans"><span class="sidenav-icons"><i class="fa fa-credit-card"></i></span>Buy Lessons</a></li>
		            <li id="sidetips" data-toggle="tooltip" data-placement="right" data-animation="true" title="Invoicing"><a href="/users/edit"><span class="sidenav-icons"><i class="fa fa-cogs"></i></span>Settings</a></li>    
		          </ul>
		          <% unless @nextlesson.nil? %>
		          

					<% @timetolesson = Time.diff(@nextlesson.starts_at, Time.now, "%H %N")%>
					<div class="next-lesson">
						<% if Time.now < @nextlesson.starts_at - 5.minutes %>
							Your next lesson is on 
							<%= @nextlesson.starts_at.strftime("#{@nextlesson.starts_at.day.ordinalize} %b %Y at %l:%M%P") %>
							</br></br>
							<div id="countdown"></div>	
						<% else %> 
							Your next lesson is on 
							<%= @nextlesson.starts_at.strftime("#{@nextlesson.starts_at.day.ordinalize} %b %Y at %l:%M%P") %>
							</br></br>
							<div id="countdown">
								<%= link_to "The lesson is ready to begin. Click here to view it", @nextlesson %>
							</div>		
						<% end %>
					</div>
					
					<div id="next-lesson-start-time" data-lesson=<%=@nextlesson.id%> style="display:none"><%= @nextlesson.starts_at.strftime("%B %e, %Y %T") %></div>
				<% end %>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

			<script type="text/javascript">
			startTime();
			function startTime() {
				if ($('#next-lesson-start-time').contents().text() != 0){
					var now = new Date();
				    var date = new Date($('#next-lesson-start-time').contents().text());
				    var difference = date-now;
				    var h = Math.floor(difference/(1000*60*60));
				    var m = Math.floor((difference - h*60*60*1000)/(1000*60));
				    var s = Math.floor((difference- h*60*60*1000 - m*60*1000) / 1000);
				    m = checkTime(m);
				    s = checkTime(s);
				    if (difference >= 259200000) { // >72h
				    	$('#countdown').html("");
				    } else if (difference >= 300000 && difference < 259200000) { // 72h to 5min before
				    	$('#countdown').html("Lesson starts in "+ h+":"+m+":"+s);
				    } else if (difference < 300000 && difference > -1200000) { // 5min before lesson starts
				    	$('#countdown').html("<a href='/lessons/"+ $('#next-lesson-start-time').attr("data-lesson") +"'>The lesson is ready to begin. Click here to view it</a>");
				    } else { // 20min past start time
				    	getNextLesson();
				    }
			    }
    			var t = setTimeout(function(){startTime()},1000);
			}

			function checkTime(i) {
    			if (i<10) {i = "0" + i}; 
   				return i;
			}

			function getNextLesson(){
				$.ajax({
				      type: 'GET',
				      url: '/get_users_next_lesson',
				      dataType: 'json',
				      success:  function(data){
				      	if (data == null) {
				      		$('#next-lesson-start-time').html(0);
				      		$('.next-lesson').html("");
				      		console.log("No next lesson. Return 0, clear next-lesson window")
				      		return;
				      	}
				      	console.log(data);
				      	var d = new Date(data["starts_at"]);
				      	var h = d.getHours();
					      	if (h > 11) {
					      		h = (h - 12) + ":00pm";
					      	} else {
					      		h = h + ":00am";
					      	}
				      	var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
				      	$('#next-lesson-start-time').html(ordinal_suffix_of(d.getDate()) + " " + monthNames[d.getMonth()] + ", " + d.getFullYear() + " at " + d.getHours()+ ":00:00");
				      	console.log("new start time: " + ordinal_suffix_of(d.getDate()) + " " + monthNames[d.getMonth()] + ", " + d.getFullYear() + " at " + d.getHours()+ ":00:00");
				      	$('#next-lesson-start-time').attr("data-lesson", data["id"]);
				      	console.log("new data-lesson: " + data["id"]);
				      	var dateString = ordinal_suffix_of(d.getDate()) + " " + monthNames[d.getMonth()] + " " + d.getFullYear() + " at " + h;
				      	$('.next-lesson').html("Your next lesson is on " + dateString);	
				      	console.log("new datestring: "+dateString);
				      }
				    }); 
			}

			function ordinal_suffix_of(i) {
			    var j = i % 10,
			        k = i % 100;
			    if (j == 1 && k != 11) {
			        return i + "st";
			    }
			    if (j == 2 && k != 12) {
			        return i + "nd";
			    }
			    if (j == 3 && k != 13) {
			        return i + "rd";
			    }
			    return i + "th";
			}

			</script>