<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
		          <ul class="nav nav-sidebar">
		            <li id="sidetips" data-toggle="tooltip" data-placement="right" data-animation="true" title="Invoicing"><a href="/posts"><span class="sidenav-icons"><i class="fa fa-paper-plane"></i></span>Blog</a></li>
		            <li id="sidetips" data-toggle="tooltip" data-placement="right" data-animation="true" title="Schedule"><a href="/teachers"><span class="sidenav-icons"><i class="fa fa-users"></i></span>Teachers</a></li>
		            <li id="sidetips" data-toggle="tooltip" data-placement="right" data-animation="true" title="Invoicing"><a href="/lessons"><span class="sidenav-icons"><i class="fa fa-calendar"></i></span>Calendar</a></li>
		            <li id="sidetips" data-toggle="tooltip" data-placement="right" data-animation="true" title="Settings"><a href="#"><span class="sidenav-icons"><i class="fa fa-video-camera"></i></span>Videos</a></li>
		            <li id="sidetips" data-toggle="tooltip" data-placement="right" data-animation="true" title="Invoicing"><a href="/plans"><span class="sidenav-icons"><i class="fa fa-credit-card"></i></span>Buy Lessons</a></li>
		            <li id="sidetips" data-toggle="tooltip" data-placement="right" data-animation="true" title="Invoicing"><a href="/users/edit"><span class="sidenav-icons"><i class="fa fa-cogs"></i></span>Settings</a></li>    
		          </ul>
		          <% unless @nextlesson.nil? %>
		          

					<% @timetolesson = Time.diff(@nextlesson.starts_at, Time.now, "%H %N")%>
					<div class="next-lesson" onload="startTime()">
						<% if @timetolesson[:day] > 2 %>
							Your next lesson is on 
							<%= @nextlesson.starts_at.strftime("#{@nextlesson.starts_at.day.ordinalize} %b %Y at %l:%M%P") %>
						<% elsif Time.now < @nextlesson.starts_at - 5.minutes %>
							Your next lesson is on 
							<%= @nextlesson.starts_at.strftime("#{@nextlesson.starts_at.day.ordinalize} %b %Y at %l:%M%P") %>
							</br></br>
							<div id="countdown"></div>	
						<% else %> 
							Your next lesson is on 
							<%= @nextlesson.starts_at.strftime("#{@nextlesson.starts_at.day.ordinalize} %b %Y at %l:%M%P") %>
							</br></br>
							<%= link_to "The lesson is ready to begin. Click here to view it", @nextlesson %>		
						<% end %>
					</div>
					
					<div id="next-lesson-start-time" data-lesson=<%=@nextlesson.id%> style="display:none"><%= @nextlesson.starts_at.strftime("%B %e, %Y %T") %></div>

					
					
				<% end %>
		          
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

			<script type="text/javascript">
			startTime();
			
			function startTime() {
				var now = new Date();
			    var date = new Date($('#next-lesson-start-time').contents().text());
			    var difference = date-now;
			    var h = Math.floor(difference/(1000*60*60));
			    var m = Math.floor((difference - h*60*60*1000)/(1000*60));
			    var s = Math.floor((difference- h*60*60*1000 - m*60*1000) / 1000);
			    m = checkTime(m);
			    s = checkTime(s);
			    $('#countdown').html("Lesson starts in "+ h+":"+m+":"+s);
			    if (difference < 900000) {
			    	$('#countdown').html("<a href='/lessons/"+ $('#next-lesson-start-time').attr("data-lesson") +"'>The lesson is ready to begin. Click here to view it</a>");
			    }
			    
    			var t = setTimeout(function(){startTime()},1000);
			}

			function checkTime(i) {
    			if (i<10) {i = "0" + i}; 
   				return i;
			}

			</script>