<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag("logo.png", :alt => "rss feed") %></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">

        <% if user_signed_in? %>

          <% @newnotifications = 0 %>
            <% current_user.notifications.each do |n| %>
              <% @newnotifications += 1 unless n.dismissed || n.appear_at > Time.now %>
            <% end %>

        <li class="notify">
            <i class="fa fa-calendar-o"></i>
            <i class="fa fa-bell-o" id="notificationmenu" data-toggle="dropdown"></i>
            <% if @newnotifications > 0 %>     
              <div class="notification-bubble"> <%= @newnotifications %> </div>       
            <% end %> 
            <ul class="dropdown dropdown-menu-right dropdown-menu" role="menu" aria-labelledby="notificationmenu">
              <% current_user.notifications.where("appear_at < ?", Time.now).order(appear_at: :desc).limit(4).each do |n| %>
                <li>
                  <% if n.dismissed %>
                    <div class="notification">
                  <% else %>
                    <div class="notification not-dismissed">
                  <% end %>
                  <div class="row">
                    <div class="col-md-3"><%= n.image %></div>
                    <div class="col-md-8"><%= n.content %></div>
                    <div class="col-md-1"><%= link_to "<i class='fa fa-check-circle-o'></i>", dismiss_notification_path(n) %></div>
                  </div>
                </div>
              </li>
              <% end %>

              <%= link_to "View All Notifications", notifications_path %> | <%= link_to "Dismiss All New Notifications", notifications_path %>
            
            </ul>
          
        </li>
    
          
      <li>
		  <div class="dropdown dropdown-menu-right">
		  	<button class="dropdown-toggle" type="button" id="dropdownmenu1" data-toggle="dropdown">
		  	<%= image_tag current_user.gravatar_url, :class => 'gravatar-nav img-circle' %> <span class="caret"></span>
		  	</button>
		  	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		  		<li role="presentation"><%= link_to 'Dashboard', current_user, :class => 'navbar-link' %></li>
			    <li role="presentation"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
			    <li role="presentation"><%= link_to "Sign out", destroy_user_session_path, :class => 'navbar-link', :method => :delete %></li>
			</ul>
		  </div>
		</li>
 
		<% end %>

      </ul>
    </div><!--/.nav-collapse -->
</div>