<div class="navbar navbar-inverse navbar-fixed-top" id="top-navbar" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag("logo.png", :alt => "rss feed") %></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">

        <% if user_signed_in? %>
        <div id="notification-window" style="
            position: fixed;
            right: 10px;
            bottom: 10px;
            background-color: rgba(0,0,0,0.8);
            height: 60px;
            width: 400px;
            z-index: 1;
            color: white;
            display: none;
            padding: 5px;
            font-size: 14px
        "></div>
        <li class="notify" id="notification-menu"> 
          <% @newnotifications = 0 %>
            <% current_user.notifications.each do |n| %>
              <% @newnotifications += 1 unless n.dismissed || n.appear_at > Time.now %>
            <% end %>
          <i id="notification-bell" class="fa fa-bell-o" data-toggle="dropdown"></i>
            <% if @newnotifications > 0 %>     
              <div class="notification-bubble"> <%= @newnotifications %> </div>       
            <% end %> 
            <ul id="notification-dropdown" class="dropdown dropdown-menu-right dropdown-menu" role="menu" aria-labelledby="notificationmenu">
              <% current_user.notifications.where("appear_at < ?", Time.now).order(appear_at: :desc).limit(4).each do |n| %>
                <% if n.dismissed %>
                    <li class="notification" data-lesson=<%= n.lesson_id %>>
                      <% unless n.lesson_id.nil? %>
                        <a src=<%= lesson_path(n.lesson_id) %>>
                      <% end %>
	                    <div class="notify-block">
	                    		<div class="notify-img">
	                    			<%= image_tag current_user.gravatar_url, :class => 'gravatar-nav img-circle' %>
	                    		</div>
	                    		<p>
	                    			<%= n.content %>
	                    		</p>
	                    </div>
                      <% unless n.lesson_id.nil? %>
                        </a>
                      <% end %>
                    </li>
                  <% else %>
                    <li class="notification not-dismissed" data-lesson=<%= n.lesson_id %>>
                      <% unless n.lesson_id.nil? %>
                        <a src=<%= lesson_path(n.lesson_id) %>>
                      <% end %>
                    	<div class="notify-block">
                    		<div class="notify-img">
                    			<%= image_tag current_user.gravatar_url, :class => 'gravatar-nav img-circle' %>
                    		</div>
                    		<p>
                    			<%= n.content %>
                    		</p>
                    	</div>
                      <% unless n.lesson_id.nil? %>
                        </a>
                      <% end %>
                    </li>                    
                  <% end %>
              <% end %>

              <%= link_to "See all", notifications_path, :class => 'see-all' %>
              <!-- <%= link_to "Dismiss All New Notifications", dismiss_all_notifications_path %> -->
            
            </ul>
          
        </li>
      <li>
		  <div class="dropdown dropdown-menu-right">
		  	<button class="dropdown-toggle" type="button" id="dropdownmenu1" data-toggle="dropdown">
		  	<%= image_tag current_user.gravatar_url, :class => 'gravatar-nav img-circle' %> <span class="caret"></span>
		  	</button>
		  	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		  		<li role="presentation"><%= link_to 'Dashboard', current_user, :class => 'navbar-link' %></li>
			    <li role="presentation"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
			    <li role="presentation"><%= link_to "Sign out", destroy_user_session_path, :class => 'navbar-link', :method => :delete %></li>
			</ul>
		  </div>
		</li>
 
		<% end %>

      </ul>
    </div><!--/.nav-collapse -->
</div>