<!DOCTYPE html>
<html>
<head>
  <title>Mandarin Minds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<meta content="Learn Mandarin, Chinese culture, history and much more." name="description">
	<link href="https://mandarinminds.com/" rel="canonical">
	<meta content="en_US" property="og:locale">
	<meta content="website" property="og:type">
	<meta content="Mandarin Minds" property="og:title">
	<meta content="Learn Mandarin, Chinese culture, history and much more." property="og:description">
	<meta content="https://mandarinminds.com/" property="og:url">
	<meta content="Mandarin Minds" property="og:site_name">

  <meta name="google-site-verification" content="iiUzasC3Bnucetrin0_axQWl9EME--_U8uQxFl5B7Lo" />

  <link rel="shortcut icon" href="http://www.mandarinminds.com/favicon.ico?v=2" />
  <script src="//js.pusher.com/2.2/pusher.min.js"></script>
  <% if user_signed_in? %>
  <%= javascript_include_tag 'jquery.timeago' %>
  
  <script type="text/javascript" charset="utf-8">
  jQuery(document).ready(function() {
    jQuery("span.timeago").timeago();
  });
  var pusher = new Pusher('<%= Pusher.key %>');
  var channel = pusher.subscribe('private-<%= current_user.id %>');
  
  channel.bind('notification', function(data) {
    notification_alert(data);
    //getNextLesson();      
    $.ajax({
      type: 'GET',
      url: '/notifications/get_notifications_for_bubble',
      dataType: 'json',
      success:  function(bubble){ 
        $('.notification-bubble').remove();
        if (bubble.length > 0) {
          $('#notification-bell').after("<div class='notification-bubble'>" + bubble.length + "</div>");
        } 
      }
    });

    $.ajax({
      type: 'GET',
      url: '/notifications/get_notifications_for_header',
      dataType: 'json',
      success:  function(data){ 
        $('#notification-dropdown').html("");
        $.each( data, function(key, array){
          var str = '<li class="notification"><div class="notify-block row">';

          if (array["link"])  {
            str = str + '<a href='+array["link"]+'>';
          }

          var date = new Date(array["created_at"]);
          str = str + '<div class="notify-img col-xs-2">'+array["image"]+'</div><div class="col-xs-10"><p style="padding-left: 3px">'+array["content"]+'</p><span class="timeago" title="'+date.toISOString()+'" style="font-size: 10px; color: black; position: absolute; right: -40px; bottom: -8px;">'+date.getDate()+"/"+(date.getMonth() + 1)+"/"+date.getFullYear()+'</span></div>';

          if (array["link"])  {
            str = str + '</a>';
          }

          $('#notification-dropdown').append(str + '</div></li>');            
        });
        $('#notification-dropdown').append('<a class="see-all" href="/notifications">See All</a>'); 
        jQuery("span.timeago").timeago();  
      }       
    });    

           
  }); 


     


function notification_alert(msg) {
  var str = msg["message"];
  if(str && str.length > 150) str = str.substring(0,150) + "...";
  $('#notification-window').text(str);
  $('#notification-window').fadeIn();
  setTimeout(function() {
    $('#notification-window').fadeOut();
  }, 10000);
}
</script>
<% end %>

  <!--<script src="//use.typekit.net/kqu8wnu.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>-->
  <script type="text/javascript">
  (function() {
    var config = {
      kitId: 'kqu8wnu',
      scriptTimeout: 3000
    };
    var h = document.getElementsByTagName('html')[0];
    h.className += ' wf-loading';
    var t = setTimeout(function() {
      h.className = h.className.replace(/(\s|^)wf-loading(\s|$)/g, ' ');
      h.className += ' wf-inactive';
    }, config.scriptTimeout);
    var d = false;
    var tk = document.createElement('script');
    tk.src = '//use.typekit.net/' + config.kitId + '.js';
    tk.type = 'text/javascript';
    tk.async = 'true';
    tk.onload = tk.onreadystatechange = function() {
      var rs = this.readyState;
      if (d || rs && rs != 'complete' && rs != 'loaded') return;
      d = true;
      clearTimeout(t);
      try { Typekit.load(config); } catch (e) {}
    };
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(tk, s);
  })();
</script>
<style type="text/css">
#page-title {
  font-family: proxima-nova-1, proxima-nova-2, sans-serif;
}
.wf-loading #page-title {
  visibility: hidden;
}
</style>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <!--<script type="text/javascript" src="http://cdn.dev.skype.com/uri/skype-uri.js"></script>-->
</head>



<% if user_signed_in? %>
	<body id="<%= current_user.id%>"class="private">
    <%= render 'layouts/user_header' %>
<% else %>
	<body id="guest" class="public">
    <%= render 'layouts/home_header' %>
<% end %>


<!-- Jumbotron for landing page -->
<%= render  "static/jumbotron"  if controller_name == "static" && action_name == "index"  %>

<!-- Jumbotron for about page -->
<%= render  "static/jumbotronabout"  if controller_name == "static" && action_name == "features"  %>

<!-- Dashboard layout when signed in -->
<% if user_signed_in? %>
	<%= render 'layouts/user_sidenav' %>
<% end %>

 <!-- Flash message for all pages. Remove from individual pages --> 
<% flash.each do |type, message| %>
  <div class="alert alert-info fade-in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %>

<%= yield %>

<% if user_signed_in? %>
	</div>
	</div>
<% else %>
    <%= render  "static/footer" %>
<% end %>

</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50189399-1', 'auto');
  ga('send', 'pageview');

</script>

</html>










