<!DOCTYPE html>
<html>
<head>
  <title>Mandarin Minds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script async src="//use.typekit.com/kqu8wnu.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

<% if user_signed_in? %>
    <%= render 'layouts/user_header' %>
<% else %>
    <%= render 'layouts/home_header' %>
<% end %>


      <!-- Example row of columns -->
      <%= render  "static/jumbotron"  if controller_name == "static" && action_name == "index"  %>


<!--
<div class="container">
<div class="row">
-->
<% if user_signed_in? %>
	<%= render 'layouts/user_sidenav' %>
<% end %>
<%= yield %>
<!--
</div>
</div>
-->
</body>
</html>
