<!DOCTYPE html>
<html ng-app>
<head>
  <title>Mandarin Minds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/kqu8wnu.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

<% if user_signed_in? %>
    <%= render 'layouts/user_header' %>
<% else %>
    <%= render 'layouts/home_header' %>
<% end %>


<!-- Jumbotron for landing page -->
<%= render  "static/jumbotron"  if controller_name == "static" && action_name == "index"  %>

<!-- Jumbotron for about page -->
<%= render  "static/jumbotronabout"  if controller_name == "static" && action_name == "about"  %>

<!-- Dashboard layout when signed in -->
<% if user_signed_in? %>
	<%= render 'layouts/user_sidenav' %>
<% end %>


<!-- Container for static pages -->
<!--<%= render  "static/container"  if controller_name == "static"%>-->
<%= yield %>
<!--<% if controller_name == "static" %>
	</div>
</div>-->
<% end %>
<% if user_signed_in? %>
<% else %>
    <%= render  "static/footer"%>
<% end %>

</body>
</html>
